@mixin prefixize($prop, $value) {
	#{$prop}: $value;
	-moz-#{$prop}: $value;
	-webkit-#{$prop}: $value;
	-o-#{$prop}: $value;
}

@mixin keyframes($name) {
	@keyframes $name {
		@content;
	}

	@-moz-keyframes $name {
		@content;
	}

	@-webkit-keyframes $name {
		@content;
	}

	@-o-keyframes $name {
		@content;
	}
}

:target, .pseudoclasstarget {
	@include prefixize(animation-name, tfade);
	@include prefixize(animation-duration, 15s);
}

.notarget:target, .pseudoclasstarget.notarget {
	@include prefixize(animation-name, none);
}

@include keyframes(tfade) {
	from { background-color: $anchor-target-highlight-bg-color; }
	to { background-color: $anchor-target-final-bg-color; }
}

div.spinner, span.spinner {
	@include prefixize(animation, rotate-cw 1s linear 0s infinite);
}

@include keyframes(rotate-cw) {
	from { @include prefixize(transform, rotate(0deg)); }
	to { @include prefixize(transform, rotate(359deg)); }
}
