div#dbb {
	@include fixed-width-page;
	min-width: 80%;

	.raw { font-family: $mono-font; }

	&> header > h2 {
		font-size: 3em;
		margin-bottom: 0;

		&.unpublished {
			opacity: .5;
			text-decoration: line-through;
		}

		&> span.amp {
			color: $aside-text-color;
			font-size: .8em;

			position: absolute;
			right: 0;
			bottom: 0;
			
			&:before {
				content: "≈";
			}
		}
	}

	&> div#desc {
		position: relative;

		@include readable;

		padding-left: 6em;
		min-height: 6em;

		&> img:first-child {
			position: absolute;
			top: 0;
			left: 0;
			width: 5em;
			height: 5em;
		}

		font {
			font-size: 1.2em;
			font-decoration: underline;
			color: $emphasis-text-color !important;
		}

		&> ul#type-elements > li {
			margin: 0 .25em;
			font-weight: bold;

			cursor: help;
		}
	}

	&> nav > ul {
		margin: 0.5em 0 0 0;
		padding: 0;
		list-style-type: none;

		text-align: right;
		line-height: 1.5em;
		opacity: 0.8;

		&> li {
			display: inline-block;

			&:before {
				content: "⊃";
				padding: 0 0.25em;
			}

			&:first-child:before {
				display: none;
			}

			&.lst {
				font-weight: bold;
				color: $aside-text-color;
			}

			&.memberof:before {
				content: "∋";
			}

			&.related:before {
				content: "⇜";
			}
		}
	}

	&> ul.tabs { @include tabs; }

	&> section > table.d {
		tr {
			line-height: 1.5em;

			&> td > img {
				height: 1.5em;
			}
		}

		td + td {
			text-align: left;
		}
	}

	&> section#r {
		ul {
			list-style-type: none;

			ul {
				margin-left: 1em;
				padding-left: 1em;
				border-left: 1px dotted $subsection-border-color;
			}
		}

		&> ul > li > header {
			margin-top: 0.5em;
			background-color: $subsection-bg-color;
			border-top: 1px solid $subsection-border-color;
			border-bottom: 1px solid $subsection-border-color;
		}

		li {
			display: block;
			line-height: 2em;

			&> header > img:first-child {
				height: 2em;
			}
		}
	}

	&> section#b {
		ul.tabs {
			@include tabs;
			margin-top: 0.5em;

			&> li > a {
				display: inline-block;
				width: 5em;
			}
		}

		&> section > ul.t {
			margin: 1em 0;
			padding: 0;
			list-style-type: none;

			@include columnize(25em);

			&> li {
				line-height: 2em;
				padding: 0 0.25em;

				@include ellipsis;

				&> img:first-child {
					height: 2em;
				}

				&.unpublished {
					opacity: .5;
					text-decoration: line-through;
				}
			}
		}
	}

	p.compare {
		text-align: center;
	}

	&> header.typelist {
		&> ul {
			display: table;
			width: 100%;
			list-style-type: none;
			margin: 0;
			padding: 0;

			background-color: rgba($subsection-bg-color, .5);
			border-top: 1px solid $subsection-border-color;
			border-bottom: 1px solid $subsection-border-color;

			font-size: 2em;
			line-height: 1.25em;
			margin: 1em 0 1em 0;

			&> li {
				display: table-cell;
				margin: 0;
				padding: 0;
				width: 3em;

				&> a {
					display: block;
					font-weight: bold;
					text-decoration: none;
					text-align: center;
				}
			}
		}
	}

	&> p.sort {
		@include no-user-select;
	}

	&> ul.typelist, &> section > ul.typelist {
		padding: 0;
		margin: 0;
		list-style-type: none;

		@include columnize(25em);

		&> li {
			display: inline-block;
			width: 25em;

			line-height: 2em;
			padding: 0;

			&.h {
				margin-top: 1em;
			}

			&.unpublished {
				opacity: .5;
				text-decoration: line-through;
			}

			@include ellipsis;

			&> span.tval, &> ul > li > span.tval {
				display: inline-block;
				font-weight: bold;
				min-width: 3em;
				text-align: right;
				font-size: 1.1em;
				vertical-align: middle;
			}

			&> header.letteranchor {
				margin-bottom: 0.2em;
				background-color: rgba($subsection-bg-color, .5);
				border-top: 1px solid $subsection-border-color;
				border-bottom: 1px solid $subsection-border-color;

				&:first-child { margin-top: 0; }

				text-align: center;
				font-size: 2em;
				line-height: 1.25em;

				&> a {
					text-decoration: none;
					font-weight: bold;
				}

				&:before, &:after { content: " – "; }

				@include ellipsis;
			}

			&> ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
			}
		}
	}

	&> ul.submg {
		@include columnize(25em);

		&> li {
			margin-bottom: 2em;
			display: inline-block;
			width: 25em;

			&> ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
			}

			&> ul > li {
				line-height: 1.5em;
				@include ellipsis;
			}
		}

		&> li > a {
			display: block;
			text-align: center;
			font-weight: bold;
			text-decoration: none;

			font-size: 1.5em;
			line-height: 1.5em;
			margin-bottom: 0.3em;

			background-color: rgba($subsection-bg-color, .5);
			border-top: 1px solid $subsection-border-color !important;
			border-bottom: 1px solid $subsection-border-color !important;

			&:before, &:after { content: " — "; }

			@include ellipsis;
		}
	}

	&> h3 {
		font-size: 1.5em;
		margin-left: 1em;
		border-bottom: 1px solid $subsection-border-color;
	}

	&.compare {
		max-width: none;
		padding: 0 5em;

		&> p.meta {
			text-align: right;
		}

		&> section.compare {
			overflow: hidden;
			position: relative;
			padding-bottom: 0.75em;
		}
	}

	&> section.compare > table {
		table-layout: fixed;

		&> colgroup.sorted {
			background-color: $table-highlight-bg-color;
		}

		&> thead, &> tfoot {
			background: rgba($subsection-bg-color, .5) !important;
		}

		&> thead > tr {
			&> td {
				opacity: 0.5;
				padding: 1em 0;

				width: 20em;
				text-align: center;
				font-weight: bold;
				color: $aside-text-color;

				&> img {
					height: 2.5em;
				}

				& + td { width: 3em; }
			}

			&> th {
				width: 5em;
				overflow: hidden;

				@include no-user-select;

				&.asc:before { content: "▲"; }
				&.desc:before { content: "▼"; }
			}
		}

		&> tbody > tr > th {
			text-align: right;
			@include ellipsis;
			@include no-user-select;

			img {
				height: 2.5em;
				border-radius: .5em;
			}
		}

		&> tbody > tr > td {
			height: 2.5em;
			text-align: center;

			&> small {
				opacity: 0.5;
			}

			&.gain { color: $attribute-gain-text-color; }
			&.loss { color: $attribute-loss-text-color; }
		}

		&> tbody > tr.base {
			&> th { height: 3em; }
			background-color: $table-highlight-bg-color;
		}
	}

	&> section#dbsearch > div {
		text-align: center;

		&> form { border: 0; }
	}
}
