div#dbb {
	@include fixed-width-page;
	min-width: 80%;

	.raw { font-family: $mono-font; }

	&> header > h2 {
		font-size: 3em;
		margin-bottom: 0;

		&> small {
			font-family: $mono-font;
			font-size: .5em;
			opacity: .5;
		}

		&> small > span.unpublished {
			color: $error-text-color;
		}

		&> span.raw {
			font-size: 0.5em;
			vertical-align: bottom;
		}
	}

	&> div#desc {
		position: relative;

		@include readable;

		padding-left: 6em;
		min-height: 6em;

		&> img:first-child {
			position: absolute;
			top: 0;
			left: 0;
			width: 5em;
			height: 5em;
		}

		font {
			font-size: 1.2em;
			font-decoration: underline;
			color: $emphasis-text-color !important;
		}
	}

	&> nav > ul {
		margin: 0.5em 0 0 0;
		padding: 0;
		list-style-type: none;

		text-align: right;
		line-height: 1.5em;
		opacity: 0.8;

		&> li {
			display: inline-block;

			&:before {
				content: " ⊃ ";
			}

			&:first-child:before {
				content: "";
			}

			&.lst {
				font-weight: bold;
				color: $aside-text-color;
			}

			&.lst:before {
				content: " ∋ ";
			}
		}
	}

	&> ul.tabs { @include tabs; }

	&> section > table.d {
		tr {
			line-height: 1.5em;

			&> td > img {
				height: 1.5em;
			}
		}

		td + td {
			text-align: left;
		}
	}

	&> section#r {
		ul {
			list-style-type: none;

			ul {
				margin-left: 1em;
				padding-left: 1em;
				border-left: 1px dotted $subsection-border-color;
			}
		}

		&> ul > li > header {
			margin-top: 0.5em;
			background-color: $subsection-bg-color;
			border-top: 1px solid $subsection-border-color;
			border-bottom: 1px solid $subsection-border-color;
		}

		li {
			display: block;
			line-height: 2em;

			&> header > img:first-child {
				height: 2em;
			}
		}
	}

	&> section#b {
		ul.tabs {
			@include tabs;
			margin-top: 0.5em;

			&> li > a {
				display: inline-block;
				width: 5em;
			}
		}

		&> section > ul.t {
			margin: 1em 0;
			padding: 0;
			list-style-type: none;

			@include columnize(25em);

			&> li {
				line-height: 2em;
				padding: 0 0.25em;

				@include ellipsis;

				&> img:first-child {
					height: 2em;
				}
			}
		}
	}

	&> header.typelist {
		&> ul {
			display: table;
			width: 100%;
			list-style-type: none;
			margin: 0;
			padding: 0;

			background-color: rgba($subsection-bg-color, .5);
			border-top: 1px solid $subsection-border-color;
			border-bottom: 1px solid $subsection-border-color;

			font-size: 2em;
			line-height: 1.25em;
			margin: 1em 0 1em 0;

			&> li {
				display: table-cell;
				margin: 0;
				padding: 0;
				width: 3em;

				&> a {
					display: block;
					font-weight: bold;
					text-decoration: none;
					text-align: center;
				}
			}
		}
	}

	&> ul.typelist {
		padding: 0;
		margin: 0;
		list-style-type: none;

		@include columnize(25em);

		&> li {
			line-height: 2em;
			padding: 0;

			@include ellipsis;

			&> span.tval {
				display: inline-block;
				font-weight: bold;
				min-width: 3em;
				text-align: right;
				font-size: 1.1em;
				vertical-align: middle;
			}

			&.letteranchor {
				margin: 1em 0 0.5em 0;
				background-color: rgba($subsection-bg-color, .5);
				border-top: 1px solid $subsection-border-color;
				border-bottom: 1px solid $subsection-border-color;

				&:first-child { margin-top: 0; }

				text-align: center;
				font-size: 2em;
				line-height: 1.25em;

				&> a {
					text-decoration: none;
					font-weight: bold;
				}

				&:before, &:after { content: " – "; }
			}
		}
	}
}