@mixin error {
	border: 1px solid $error-border-color;
	color: $error-text-color;
	padding: 0.5em;
	text-align: center;
}

@mixin warning {
	@include error;
	border-color: $warning-border-color;
	color: $warning-text-color;
	background-color: $warning-bg-color;
}

@mixin notice {
	@include error;
	border: none;
	color: $notice-text-color;
	font-style: italic;
	border: 1px dotted $section-border-color;
}

p.error_box {
	@include error;
}

p.warning_box {
	@include warning;
}

p.notice_box {
	@include notice;
}

p.placeholder {
	color: $placeholder-text-color;
	text-align: center;
	padding: 0.5em;
	font-style: italic;
}
