@mixin error {
	border: 1px solid $error-border-color;
	color: $error-text-color;
	padding: 0.5em;
	text-align: center;
}

@mixin warning {
	@include error;
	border-color: $warning-border-color;
	color: $warning-text-color;
	background-color: $warning-bg-color;
}

@mixin notice {
	@include error;
	border: none;
	color: $notice-text-color;
	font-style: italic;
	border: 1px dotted $section-border-color;
}

p.error_box {
	@include error;
}

p.warning_box {
	@include warning;
}

p.notice_box {
	@include notice;
}

p.placeholder {
	color: $placeholder-text-color;
	text-align: center;
	padding: 0.5em;
	font-style: italic;
}

p.alert {
    box-sizing: border-box;
    overflow: hidden;
    @include prefixize(animation-name, alertpopin);
    @include prefixize(animation-duration, 1s);
    @include prefixize(animation-fill-mode, forwards);

    &.error_box {
	background-color: rgba($error-border-color, .05);
    }
}

@include keyframes(alertpopin) {
    0% { max-height: 0em; border-width: 0px; margin: 0; }
    99% { max-height: 0em; border-width: 0px; margin: 0; }
    100% { max-height: 50em; border-width: 1px; margin: .5em; }
}
