@import "fonts.scss";

body {
	color: hsl(0, 0%, 90%);
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body > div.w {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

div.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('./bg.png');
	opacity: 0.3;
}

h1 {
	font-size: 4em;
	margin-top: 0;

	&.code {
		font-size: 8em;
	}
}

footer {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;

	&> pre {
		margin: 0;
		padding: 0;
	}

	opacity: 0.5;
}

pre.bt {
	opacity: 0.5;
}

a {
	color: hsl(0, 0, 95%) !important;
}

p.home {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	opacity: 0.5;
}