$sans-font: "Droid Sans", Helvetica, Arial, sans-serif;
$serif-font: "Droid Serif", Georgia, serif;
$mono-font: "Droid Sans Mono", monospace;

body {
	font-family: $sans-font;
	font-size: 0.9em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $serif-font;
}

code, tt, textarea, input, select, optgroup, option {
	font-family: $mono-font;
}
