$main-font: "Linux Biolinum", Helvetica, Arial, sans-serif;
$mono-font: Inconsolata, monospace;

@mixin linux-biolinum($localname, $url, $weight, $style) {
	@font-face {
		font-family: 'Linux Biolinum';
		src: local($localname), url($url) format('woff');
		font-weight: $weight;
		font-style: $style;
	}
}

@include linux-biolinum('Linux Biolinum', './fonts/linbiolinum_r.woff', normal, normal);
@include linux-biolinum('Linux Biolinum Bold', './fonts/linbiolinum_rb.woff', bold, normal);
@include linux-biolinum('Linux Biolinum Italic', './fonts/linbiolinum_ri.woff', normal, italic);
@include linux-biolinum('Linux Biolinum Italic', './fonts/linbiolinum_ri.woff', normal, oblique);

html, body {
	font-family: $main-font;
}
