$field-height: 1.5em;

input, select, textarea, button, option {
	color: $input-text-color;
	border: 1px solid $input-border-color;
	background-color: rgba($input-bg-color, 0.8);
	outline: none;

	&:active {
		color: $input-active-text-color;
		border-color: $input-active-border-color;
		@include linear-gradient-lighten-top($input-active-bg-color);
	}

	&:focus {
		color: $input-focus-text-color;
		border-color: $input-focus-border-color;
		@include linear-gradient-lighten-top($input-focus-bg-color);
	}

	&:disabled {
		color: $input-disabled-text-color;
		border-color: $input-disabled-border-color;
		background-color: $input-disabled-bg-color;
	}
}

optgroup {
	background-color: $optgroup-bg-color;
}

optgroup, option {
	border: 0;
}

input[type='submit'], input[type='button'], form:not(.saa) button {
	font-family: $sans-font;
	color: $button-text-color;
	border-color: $button-border-color;
	line-height: $field-height;
	@include linear-gradient-lighten-top($button-bg-color);

	&.dangerous {
		color: $dangerous-button-text-color;
		border-color: $dangerous-button-border-color !important;
		background-color: $dangerous-button-bg-color !important;
	}

	&:active, &:focus {
		color: $input-active-text-color;
		border-color: $input-active-border-color;
		@include linear-gradient-lighten-top($input-active-bg-color);
	}

	&:disabled, &:disabled:active {
		color: $input-disabled-text-color;
		border-color: $input-disabled-border-color;
		@include linear-gradient-lighten-top($input-disabled-bg-color);
	}
}

input[type='search'] {
	-webkit-appearance: none;
}

form > table {
	border-collapse: collapse;

	&> tbody > tr {
		&> td, &> th {
			vertical-align: top;
			padding: 0.5em;
			border-top: 1px dotted $form-row-border-color;
		}
	}

	&> tbody {
		&> tr:first-child, &> tr.separator, &> tr.error_message {
			&> th, &> td, &+ tr > th, &+ tr > td {
				border-top: none;
			}
		}

		&> tr.error_message > td > p {
			@include error;
			margin: 0;
		}

		&> tr > td > p.error_box {
			margin-top: 0;
		}

		&> tr.error > td > input, &> tr > td > input.error {
			color: $input-error-text-color !important;
			border-color: $input-error-border-color !important;
			background-color: $input-error-bg-color !important;
		}

		&> tr.separator > td > hr {
			height: 1px;
			color: $input-separator-color;
			background-color: $input-separator-color;
			border: none;
		}
	}

	&> tbody > tr > th > label {
		display: block;
		text-align: right;
		padding-top: 0.35em;
	}

	&> tbody > tr > td {
		textarea, input, select {
			width: 100%;
			line-height: $field-height;

			min-width: 30em;
			@include layout-type(small) { min-width: 20em; }
			@include layout-type(extrasmall) { min-width: 10em; }
		}

		input[type='submit'], input[type='button'], button, input[type='radio'], input[type='checkbox'] {
			min-width: 0;
			width: auto;
		}

		input[type='checkbox'], input[type='radio'] {
			height: auto;
		}

		textarea {
			height: 10em;
			@include layout-type(small) { height: 7em; }
			@include layout-type(extrasmall) { height: 5em; }
		}

		select {
			height: 1.7em;
			line-height: 1.7em;
		}

		select[size] {
			height: auto;
		}
	}
}