$footer-height: 1.7em;
$nav-height: 2.5em;
$link-color: #1122CC;

@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin fixed-width-page {
	max-width: 60em;
	margin: auto;

	&> header > h2, &> section > h2, &> h2 {
		margin: 1em 0 0.5em 0;
		border-bottom: 1px solid black;
		position: relative;

		&> small {
			position: absolute;
			right: 0;
			bottom: 0;
			color: #888;
		}
	}
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

div#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto (-$footer-height);

	&> h1 {
		padding-left: 0.5em;
		padding-right: 0.5em;

		&#mainp {
			text-align: center;
		}
	}

	&> p {
		padding-left: 1em;
	}
}

footer, div#push {
	height: $footer-height;
	clear: both;
}

nav {
	min-height: $nav-height;
	width: 100%;
	border-bottom: 1px dotted #CCC;

	&> ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: inline;
		text-align: left;

		&> li {
			display: inline-block;
			line-height: $nav-height;
			padding-left: 1em;

			&> strong > a {
				color: black !important;
				text-decoration: none !important;
			}
		}
	}

	&> div#state_box {
		float: right;

		&> p, &> form > p {
			margin: 0;
			line-height: $nav-height;
			padding-right: 1em;
			display: inline-block;
			vertical-align: middle;
		}

		&> p > img {
			height: 2em;
		}

		&> form > p.error_box {
			padding: 0.125em;
			font-size: 0.9em;
			line-height: 0.9em;
		}
	}
}

footer > p {
	margin: 0;
	height: $footer-height;
	line-height: $footer-height;
	text-align: right;
	padding-right: 0.5em;
	
	&, &> a {
		color: #777;
	}
}

img {
	vertical-align: middle;

	&.spinner {
		visibility: hidden;
	}
}

a {
	&, &:visited {
		color: $link-color;
		border-color: $link-color;
	}

	&:active, &:focus {
		color: red;
		border-color: red;
	}

	&.dangerous {
		&:hover, &:focus {
			color: #F30 !important;
			border-color: #F30 !important;
		}
	}

	&.profile {
		color: black;
		text-decoration: none;

		&:hover {
			color: $link-color;
			text-decoration: underline;
		}
	}

	&> img {
		border: none;
	}
}

.has_spinner {
	position: relative;

	&> img.spinner {
		position: absolute;
		right: 0;
	}
}

.overflow {
	background-color: #FCC !important;
}

abbr, .mod {
	border-bottom: 1px dotted #AAA;
}

span.normalaccount:before {
	content: '~';
}

span.apiverified:before {
	content: '%';
}

span.reputation {
	font-weight: bold;
}

div.votes {
	display: inline-block;
	width: 32px;
	text-align: center;

	&> a, &> strong {
		display: block;
	}

	&> a {
		width: 32px;
		height: 16px;
		overflow: hidden;
		position: relative;
		margin: 0.125em auto;
		cursor: pointer;

		&> img {
			position: absolute;
			top: -16px;
			left: 0;
			width: 64px;
			height: 32px;
		}

		&.downvote > img {
			left: -32px;
		}

		&.voted > img {
			top: 0;
		}
	}

	&> strong {
		font-size: 1.5em;
	}

	&> div.verror {
		position: relative;
		z-index: 50000;
		width: 20em;
		padding: 1em;
		background-color: #FF2400;
		font-weight: bold;
		font-size: 1.2em;
		color: white;
	}
}

$target-highlight-color: #FFC;
$target-final-color: #FFF;
$animation-duration: 15s;

:target {
	animation-name: tfade;
	-moz-animation-name: tfade;
	-webkit-animation-name: tfade;
	-o-animation-name: tfade;

	animation-duration: $animation-duration;
	-moz-animation-duration: $animation-duration;
	-webkit-animation-duration: $animation-duration;
	-o-animation-duration: $animation-duration;
}

@keyframes tfade {
	from { background-color: $target-highlight-color; }
	to { background-color: $target-final-color; }
}

@-moz-keyframes tfade {
	from { background-color: $target-highlight-color; }
	to { background-color: $target-final-color; }
}

@-webkit-keyframes tfade {
	from { background-color: $target-highlight-color; }
	to { background-color: $target-final-color; }
}

@-o-keyframes tfade {
	from { background-color: $target-highlight-color; }
	to { background-color: $target-final-color; }
}
