$footer-height: 1.7em;
$nav-height: 2.5em;

@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin fixed-width-page {
	max-width: 60em;
	margin: auto;

	&> header > h2, &> section > h2, &> h2 {
		margin: 1em 0 0.5em 0;
		border-bottom: 1px solid $title-border-color;
		position: relative;

		&> small {
			position: absolute;
			right: 0;
			bottom: 0;
			color: $aside-text-color;
		}
	}
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: $main-text-color;
	background-color: $main-bg-color;
}

div#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto (-$footer-height);

	&> h1 {
		padding-left: 0.5em;
		padding-right: 0.5em;

		&#mainp {
			text-align: center;
		}
	}

	&> p {
		padding-left: 1em;
	}
}

footer, div#push {
	height: $footer-height;
	clear: both;
}

div#wrapper > nav:first-child {
	min-height: $nav-height;
	width: 100%;
	border-bottom: 1px dotted $top-navigation-border-color;

	@include linear-gradient-lighten-top($top-navigation-bg-color, 15%);

	&> ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: inline;
		text-align: left;

		&> li {
			display: inline-block;
			line-height: $nav-height;
			padding-left: 1em;

			&> strong > a {
				color: $strong-emphasis-text-color !important;
				text-decoration: none !important;
			}
		}
	}

	&> div#state_box {
		float: right;
		padding-right: 1em;

		&> p, &> form > p {
			margin: 0;
			line-height: $nav-height;
			display: inline-block;
			vertical-align: middle;
		}

		&> p > img {
			height: 2em;
		}

		&> form > p.error_box {
			padding: 0.125em;
			font-size: 0.9em;
			line-height: 0.9em;
		}

		&.logout > p > a.rep {
			color: $strong-emphasis-text-color;
			text-decoration: none;
		}
	}
}

footer > p {
	margin: 0;
	height: $footer-height;
	line-height: $footer-height;
	text-align: right;
	padding-right: 0.5em;
	
	&, &> a {
		color: $aside-text-color;
	}
}

img {
	vertical-align: middle;

	&.spinner {
		visibility: hidden;
	}
}

a {
	&, &:visited {
		color: $link-text-color;
		border-color: $link-border-color;
	}

	&:hover {
		color: $link-text-color !important;
		border-color: $link-border-color !important;
		text-decoration: underline !important;
	}

	&:active, &:focus {
		color: $active-link-text-color !important;
		border-color: $active-link-border-color !important;
	}

	&.dangerous {
		&:hover, &:focus {
			color: $dangerous-link-text-color !important;
			border-color: $dangerous-link-border-color !important;
		}
	}

	&.profile {
		color: $emphasis-text-color;
		text-decoration: none;

		&:hover {
			color: $link-text-color;
			text-decoration: underline;
		}
	}

	&> img {
		border: none;
	}
}

.has_spinner {
	position: relative;

	&> img.spinner {
		position: absolute;
		right: 0;
	}
}

.overflow {
	background-color: $overflow-bg-color !important;
}

abbr, .mod {
	border-bottom: 1px dotted $abbr-border-color;
}

span.normalaccount:before {
	content: '~';
}

span.apiverified:before {
	content: '%';
}

span.reputation {
	font-weight: bold;
}

div.votes {
	display: inline-block;
	width: 32px;
	text-align: center;

	&> a, &> strong {
		display: block;
	}

	&> a {
		width: 32px;
		height: 16px;
		overflow: hidden;
		position: relative;
		margin: 0.125em auto;
		cursor: pointer;

		&> img {
			position: absolute;
			top: -16px;
			left: 0;
			width: 64px;
			height: 32px;
		}

		&.downvote > img {
			left: -32px;
		}

		&.voted > img {
			top: 0;
		}
	}

	&> strong {
		font-size: 1.5em;
	}

	&> div.verror {
		position: relative;
		z-index: 50000;
		width: 20em;
		padding: 1em;
		background-color: $vote-error-background-color;
		font-weight: bold;
		font-size: 1.2em;
		color: $vote-error-text-color;
	}
}

body > div#modalbg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 70000;
	background-color: $modal-overlay-bg-color;
}

body > div#modal {
	border: 1px solid $modal-border-color;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50em;
	max-height: 30em;
	z-index: 70001;
	background-color: $modal-bg-color;
	overflow: auto;

	&> a#closemodal {
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 70002;
		color: $close-modal-text-color;
		border: 1px solid $close-modal-border-color;
		font-weight: bold;
		width: 1.5em;
		height: 1.5em;
		line-height: 1.5em;
		display: block;
		text-align: center;
		background-color: $close-modal-bg-color;
	}
}
$animation-duration: 15s;

:target {
	animation-name: tfade;
	-moz-animation-name: tfade;
	-webkit-animation-name: tfade;
	-o-animation-name: tfade;

	animation-duration: $animation-duration;
	-moz-animation-duration: $animation-duration;
	-webkit-animation-duration: $animation-duration;
	-o-animation-duration: $animation-duration;
}

.notarget:target {
	animation-name: none;
	-moz-animation-name: none;
	-webkit-animation-name: none;
	-o-animation-name: none;
}

@keyframes tfade {
	from { background-color: $anchor-target-highlight-bg-color; }
	to { background-color: $anchor-target-final-bg-color; }
}

@-moz-keyframes tfade {
	from { background-color: $anchor-target-highlight-bg-color; }
	to { background-color: $anchor-target-final-bg-color; }
}

@-webkit-keyframes tfade {
	from { background-color: $anchor-target-highlight-bg-color; }
	to { background-color: $anchor-target-final-bg-color; }
}

@-o-keyframes tfade {
	from { background-color: $anchor-target-highlight-bg-color; }
	to { background-color: $anchor-target-final-bg-color; }
}
