$footer-height: 1.7em;
$nav-height: 2.5em;

@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin fixed-width-page {
	max-width: 60em;
	margin: auto;

	&> header > h2, &> section > h2, &> h2 {
		margin: 1em 0 0.5em 0;
		border-bottom: 1px solid $title-border-color;
		position: relative;

		&> small {
			position: absolute;
			right: 0;
			bottom: 0;
			color: $aside-text-color;
		}
	}
}

@mixin no-user-select {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin bottom-progress-bar {
	position: relative;
	padding-bottom: 2px;

	&> span.bar, &> span.lbar {
		z-index: 2;
		position: absolute;
		bottom: 0;
		height: 2px;
		background-color: $main-text-color;

		&.over {
			z-index: 3;
			background-color: $overflow-text-color;
		}
	}

	&> span.bar {
		right: 0;
	}

	&> span.lbar {
		left: 0;
	}

	&> span.bar.fill {
		z-index: 1;
		left: 0;
		right: 0;
		background-color: $main-text-color;
		opacity: 0.15;
	}
}

@mixin shorter-text-available {
	&.mini { display: none; }
	&.narrow { display: none; }

	@include layout-type(small) {
		&.full { display: none; }
		&.mini { display: inline; }
	}

	@include layout-type(normal) {
		&.wide { display: none; }
		&.narrow { display: inline; }
	}
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: $main-text-color;
	background: url('./bg.png'), url('./starbg.jpg');
}

section, header, nav {
	display: block;
}

div#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto (-$footer-height);

	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&> h1 {
		padding-left: 0.5em;
		padding-right: 0.5em;

		&#mainp {
			text-align: center;
		}
	}

	&> p {
		padding-left: 1em;
	}

	padding-top: $nav-height;

	@include layout-type(small) {
		padding-top: 0;
	}

	background: rgba($main-bg-color, 0.85);

	&> div#glob_feedback {
		position: fixed;
		right: -30em;
		bottom: 8em;
		border: 1px solid $section-border-color;
		background-color: rgba($main-bg-color, 0.9);
		z-index: 5000000;

		height: 8em;
		padding-left: 2em;

		&> span {
			font-weight: bold;
			display: block;
			text-align: center;
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			transform: rotate(-90deg);
			-webkit-transform-origin: center center;
			-moz-transform-origin: center center;
			transform-origin: center center;
			position: absolute;
			width: 8em;
			height: 8em;
			line-height: 8em;
			top: 0;
			left: -3em;
			cursor: pointer;

			&:before { content: "▲ "; }
		}

		&.extended {
			right: -1px;

			&> span:before { content: "▼ "; }
		}

		&> ul {
			padding: 0;
			margin: 0;

			&> li {
				width: 8em;
				height: 8em;
				line-height: 6em;
				display: inline-block;
				text-align: center;
				padding: 1em;

				&> a {
					vertical-align: middle;
					display: inline-block;
					font-size: 1.5em;
					font-weight: bold;
					line-height: 1em;
				}
			}
		}
	}
}

footer, div#push {
	height: $footer-height;
	clear: both;
}

div#wrapper > nav:first-child {
	height: $nav-height;
	width: 100%;
	border-bottom: 1px solid $top-navigation-border-color;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;

	@include layout-type(small) {
		position: static;
	}

	@include linear-gradient-lighten-top($top-navigation-bg-color, 15%);

	span {
		@include shorter-text-available;
	}

	&> ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: inline-block;
		text-align: left;

		&> li {
			display: inline-block;
			line-height: $nav-height;
			padding-left: 1em;

			&> strong > a {
				color: $strong-emphasis-text-color !important;
				text-decoration: none !important;
			}

			@include layout-type(small) {
				padding-left: 0.5em;
				&:first-child { padding-left: 1em; }
			}
		}
	}

	&> div#state_box {
		float: right;
		padding-right: 1em;

		&> p, &> form > p {
			margin: 0;
			line-height: $nav-height;
			display: inline-block;
			vertical-align: middle;
		}

		&> p > img {
			height: 2em;
		}

		&> form > p.error_box {
			padding: 0.125em;
			font-size: 0.9em;
			line-height: 0.9em;
		}

		&.logout > p > a.rep {
			color: $strong-emphasis-text-color;
			text-decoration: none;
		}

		input[placeholder] {
			width: 9em;
		}
	}
}

footer > p {
	margin: 0;
	height: $footer-height;
	line-height: $footer-height;
	text-align: right;
	padding-right: 0.5em;
	
	&, &> a {
		color: $aside-text-color;
	}
}

img {
	vertical-align: middle;
}

a {
	cursor: pointer;
	text-decoration: underline;

	&, &:visited {
		color: $link-text-color;
		border-color: $link-border-color;
	}

	&:hover {
		color: $link-text-color !important;
		border-color: $link-border-color !important;
		text-decoration: underline !important;
	}

	&:active, &:focus {
		color: $active-link-text-color !important;
		border-color: $active-link-border-color !important;
	}

	&.dangerous {
		&:hover, &:focus {
			color: $dangerous-link-text-color !important;
			border-color: $dangerous-link-border-color !important;
		}
	}

	&.profile {
		color: $emphasis-text-color;
		text-decoration: none;

		&:hover {
			color: $link-text-color;
			text-decoration: underline;
		}
	}

	&> img {
		border: none;
	}
}

ul {
	list-style-type: square;
}

abbr, .mod {
	border-bottom: 1px dotted $abbr-border-color;
}

span.normalaccount:before {
	content: '~';
}

span.apiverified:before {
	content: '%';
}

span.reputation {
	font-weight: bold;
}

div.votes {
	display: inline-block;
	width: 32px;
	text-align: center;

	&> a, &> strong {
		display: block;
	}

	&> a {
		width: 32px;
		height: 16px;
		overflow: hidden;
		position: relative;
		margin: 0.125em auto;
		cursor: pointer;

		&> img {
			position: absolute;
			top: -16px;
			left: 0;
			width: 64px;
			height: 32px;
		}

		&.downvote > img {
			left: -32px;
		}

		&.voted > img {
			top: 0;
		}
	}

	&> strong {
		font-size: 1.5em;
	}

	&> div.verror {
		position: relative;
		z-index: 50000;
		width: 20em;
		padding: 1em;
		background-color: $vote-error-background-color;
		font-weight: bold;
		font-size: 1.2em;
		color: $vote-error-text-color;
	}
}

body > div#modalbg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 70000;
	background-color: $modal-overlay-bg-color;
}

body > div#modal {
	border: 1em solid $modal-border-color;
	border-radius: 0.5em;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50em;
	height: 30em;
	z-index: 70001;
	background-color: $modal-bg-color;
	background-clip: padding-box;
	overflow: auto;

	&> a#closemodal {
		position: absolute;
		top: 0.25em;
		right: 0.25em;
		z-index: 70002;
		color: $close-modal-text-color;
		border: 1px solid $close-modal-border-color;
		font-weight: bold;
		width: 1.5em;
		height: 1.5em;
		line-height: 1.5em;
		display: block;
		text-align: center;
		background-color: $close-modal-bg-color;
	}

	&> header:first-child {
		@include linear-gradient-lighten-top($sub-navigation-bg-color, 7%);
		padding: 0.3em 0.6em;
		margin: 0.1em;

		&> h2 {
			margin: 0;
			@include ellipsis;
		}
	}
}

div#ctxbg {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 80000;
}

ul#ctxmenu, ul.subctxmenu {
	$ctxmenu-opacity: 0.9;

	position: absolute;
	z-index: 80001;

	min-width: 10em;
	max-width: 15em;
	border: 1px solid $contextmenu-border-color;
	background-color: rgba($contextmenu-bg-color, $ctxmenu-opacity);

	margin: 0;
	padding: 0;
	list-style-type: none;

	cursor: pointer;

	&> li {
		position: relative;
		border-top: 1px dotted $contextmenu-entry-border-color;

		@include no-user-select;

		&> span {
			display: block;
			padding: 0.25em 0.5em 0.25em 1.5em;

			@include ellipsis;
		}

		&.hastoggle > span {
			padding-left: 1.75em;
		}

		&:first-child {
			border-top: 0;
		}

		&.hasicon > img.icon, &.hasicon > span.mainsprite, &.hastoggle > input {
			position: absolute;
			left: 0.25em;
			top: 0.25em;
			height: 1em;
			line-height: 1em;
			width: 1em;
		}

		&.hasicon.hastoggle {
			&> input { left: 1.5em; }
			&> span { padding-left: 2.75em; }
		}

		&.separator {
			height: 0.1em;
			border-top: 1px solid $contextmenu-entry-border-color;
			border-bottom: 1px solid $contextmenu-entry-border-color;

			& + li {
				border-top: 0;
			}
		}

		&.default > span {
			font-weight: bold;
		}

		&.disabled {
			color: $aside-text-color !important;
		}

		&.hassubcontextmenu > span {
			padding-right: 1.5em;

			&:after {
				position: absolute;
				right: 0.5em;
				height: 1em;
				line-height: 1em;
				content: "▸";
			}
		}
	}

	&> li:hover {
		color: $contextmenu-entry-active-text-color;
		background-color: rgba($contextmenu-entry-active-bg-color, $ctxmenu-opacity);

		&.separator, &.disabled {
			background-color: rgba($contextmenu-bg-color, $ctxmenu-opacity);
		}

		&> ul > li {
			color: $main-text-color;
		}
	}
}

.hascontextmenu {
	cursor: default;

	&> span.contextmenuindicator {
		cursor: context-menu;
		z-index: 10;
	}
}

@mixin readable {
	max-width: 70em;
	line-height: 1.5em;

	&> h2 {
		border-bottom: 1px solid $section-border-color;
		padding-left: 0.25em;
	}

	&> h3 {
		border-bottom: 1px dotted $subsection-border-color;
	}

	p, li {
		text-align: justify;
	}

	p.placeholder, p.warning {
		text-align: center;
	}
}

div#mdstatic {
	@include readable;
	margin: 0 1em;

	&> h2 {
		margin-top: 3em;
	}
}

p.nohttps {
	font-size: 1.2em;
	display: inline-block;
	text-align: left;
	padding: 1em;
	margin: 0.5em;
}

div.spinner, span.spinner {
	text-align: center;
	font-size: 2em;
	font-style: normal !important;
	font-weight: normal !important;
	&:before { content: "↻"; }
}

span.spinner {
	display: inline-block;
	vertical-align: middle;
}

body > div#osmium-data {
	display: none;
}
