$module-width: 22.5em;
$metadata-width: 30em;

$developed-char: '\0025BE';
$hidden-char: '\0025B8';

@mixin column {
	&> h2 {
		text-align: center;

		&> em.help {
			font-size: 0.7em;
			color: $aside-text-color;
		}
	}

	&> ul {
		padding-left: 2em;
		list-style-type: square;
	}
}

@mixin error-background-opacity($opacity) {
	background-color: rgba($overflow-alpha-bg-color, $opacity);
}

@mixin module {
	padding: 0.125em 0;
	border-top: 1px dashed $module-border-color;
	line-height: 2em;
	position: relative;
	@include ellipsis;

	&, &> span.charge {
		&.hasncycles > span.ncycles {
			&:before { content: "("; }
			&:after { content: ")"; }
			font-size: 0.8em;
			opacity: 0.8;
			padding-left: 0.5em;
			display: inline-block;
		}

		&> span.name {
			@include ellipsis;
		}

		&.hasncycles > span.name {
			display: inline-block;
			vertical-align: middle;
			max-width: $module-width - 6.5em;
		}
	}

	&:first-child {
		border-top: none;
	}

	&> strong.qty {
		padding-left: 0.1em;
		padding-right: 0.1em;
		display: inline-block;
	}
	
	&> img, &> span.charge > img, &> span.mainsprite, &> span.charge > div.mainsprite {
		height: 32px;
		width: 32px;
		margin-right: 0.125em;
	}

	&.hascontextmenu {
		padding-right: 1.5em;

		&> span.contextmenuindicator {
			font-size: 1.5em;
			text-align: center;
			display: inline-block;
			position: absolute;
			width: 1em;
			top: 0.1em;
			right: 0;
		}

		&.hasattribs > span.contextmenuindicator {
			top: -0.1em;
		}

		&.hasattribs.hascharge > span.contextmenuindicator {
			top: 0.1em;
		}
	}

	&> a.toggle_state {
		position: absolute;
		top: 20px;
		left: 20px;

		&, &> img, &> span.mainsprite {
			line-height: 16px;
			width: 16px;
			height: 16px;
		}
	}

	&> small.attribs {
		display: inline;
		position: absolute;
		right: 0.2em;
		bottom: 0;
		font-size: 0.7em;
		line-height: 1em;
		height: 1em;
		opacity: 0.8;
	}

	@include no-user-select;
}

@mixin module-list {
	width: $module-width;
	display: inline-block;
	vertical-align: top;
	margin: 0 1.5em 2em 0;

	&> ul {
		list-style-type: none;
		padding: 0;
		margin-top: 0.125em;

		&> li {
			@include module;

			&.placeholder {
				color: $unused-module-text-color;
			}
		}
	}

	&> h3 {
		border-bottom: 1px solid $section-border-color;
		padding-left: 0.25em;
		margin: 0;
		margin-top: 0.5em;
		position: relative;

		&> span {
			position: absolute;
			right: 0.125em;
			bottom: 0;
			color: $aside-text-color;

			&> small.groupcharges {
				background-size: 1em;
				cursor: pointer;
				opacity: 0.5;

				&:hover {
					opacity: 1.0;
				}

				padding-right: 0.25em;
			}
		}
	}

	&.grouped > h3 > span > small.groupcharges {
		@include sprite('./icons/modulegroup.png', 0, 0, 1em, 1em);
	}

	&.ungrouped > h3 > span > small.groupcharges {
		@include sprite('./icons/modulegroup.png', 0, 1em, 1em, 1em);
	}
}

div#computed_attributes > section {
	padding-left: 1em;

	&> h4 {
		padding-left: 0.5em;
		border-bottom: 1px solid $subsection-border-color;
		margin: 1em 0 0 0;
		position: relative;
		cursor: pointer;

		&:before {
			content: $developed-char;
			padding-right: 0.25em;
		}

		&> small {
			position: absolute;
			right: 0;
			bottom: 0;
			font-size: 0.9em;
			color: $aside-text-color;
		}
	}

	&.hidden > h4:before {
		content: $hidden-char;
	}

	&:first-child > h4 {
		margin-top: 0;
	}

	&> div {
		background-color: rgba($subsection-bg-color, 0.8);
		padding: 0.125em 0.25em;
	}

	&> div > p {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0.25em;

		width: 8.75em;
		white-space: nowrap;

		&> img, &> svg {
			width: 2em;
			height: 2em;
		}

		&> svg {
			vertical-align: middle;
		}

		&> img + span, &> span.mainsprite + span, &> svg + span {
			display: inline-block;
			vertical-align: middle;
			width: 6.75em;
			line-height: 1em;
			@include ellipsis;

			&> img {
				height: 1em;
			}
		}
	}

	&> div > ul {
		list-style-type: square;
		margin: 0;
		padding-left: 1.25em;

		&> li.export {
			font-size: 0.8em;

			&> ul {
				padding-left: 1.25em;
			}
		}
	}

	&#misc > div > table {
		width: 100%;

		&> tbody > tr > td, &> tbody > tr > th {
			text-align: left;
			width: 50%;
		}
	}

	&.hascontextmenu {
		position: relative;

		&> span.contextmenuindicator {
			position: absolute;
			top: -0.25em;
			right: 0;
			font-size: 1.5em;
			color: $aside-text-color;
		}

		&> h4 > small {
			right: 1.5em;
		}
	}

	&#defense > h4 > span.pname {
		&:before { content: "("; }
		&:after { content: ")"; }
		font-size: 0.8em;
		color: $aside-text-color;
	}
}

div#computed_attributes > section > div > table#resists {
	border-collapse: collapse;
	margin: 0;
	width: 100%;

	&> tbody > tr > td, &> thead > tr > td, &> thead > tr > th#ehp {
		text-align: right;
	}

	&> thead > tr > th:first-child {
		width: 3em;
	}

	&> thead > tr > th#ehp {
		width: 4em;
	}

	&> tbody > tr > th > img, &> thead > tr > td > img {
		height: 2em;
	}

	&> tbody > tr > td > div {
		@include bottom-progress-bar;
		width: 100%;
	}

	&> tbody > tr {
		&> td.emresist > div > span.bar { @include linear-gradient-lighten-right($em-bg-color); }
		&> td.thermalresist > div > span.bar { @include linear-gradient-lighten-right($thermal-bg-color); }
		&> td.kineticresist > div > span.bar { @include linear-gradient-lighten-right($kinetic-bg-color); }
		&> td.explosiveresist > div > span.bar { @include linear-gradient-lighten-right($explosive-bg-color); }
	}

	&> thead > tr > th#ehp {
		font-weight: normal;
		font-size: 0.666em;

		&> strong {
			font-size: 1.5em;
		}
	}
}

div#computed_attributes > section#engineering {
	span#cpu, span#power, span#upgradecapacity {
		@include bottom-progress-bar;

		&#cpu > span.lbar {
			@include linear-gradient-lighten-left(hsl(163, 50, 50), 10%);
		}

		&#power > span.lbar {
			@include linear-gradient-lighten-left(hsl(32, 50, 50), 10%);
		}

		&#upgradecapacity > span.lbar {
			@include linear-gradient-lighten-left(hsl(268, 10, 50), 10%);
		}
	}
}

div#computed_attributes > section#mastery > div {
	&> ul > li {
		margin-bottom: 0.5em;

		&> div.reqs {
			font-size: 0.8em;
			opacity: 0.5;
			padding-left: 1em;
		}
	}

	&> h5 {
		margin: 0.5em;
		font-size: 1em;

		margin-top: 1.5em;

		&:first-child {
			margin-top: 0.5em;
		}
	}
}

ul.showinfotabs {
	@include tabs;
	text-align: left;
	margin-top: 0.5em;
	padding-left: 1em;
}

header.hsi > h2 {
	&> img {
		width: 1.75em;
		height: 1.75em;
	}
}

section.siattributes > table > tbody > tr {
	&> td > img {
		height: 2em;
		width: 2em;
	}

	&> td {
		width: 50%;
		text-align: left;
		padding-left: 0.25em;
	}

	&.sep {
		border-top: 1px solid $attribute-separator-border-color;
	}
}

section.siaff {
	&> p {
		text-align: center;
	}

	&> ul {
		&> li {
			font-weight: bold;
			margin-bottom: 2em;

			&> img {
				width: 1em;
				height: 1em;
			}

			&> ul {
				font-weight: normal;

				&> li {
					padding: 0.1em 0;

					&> small {
						color: $aside-text-color;
					}
				}

				&> li > label {
					min-width: 20em;
					display: inline-block;

					&> img {
						width: 1em;
						height: 1em;
					}
				}
			}
		}
	}
}

section.sidesc {
	@include readable;
	padding: 0.5em 1em;

	font {
		font-size: 1.2em;
		text-decoration: underline;
		color: $emphasis-text-color !important;
	}
}

section.sivariations {
	@include module-list;
	width: 100%;
	margin: 0;
	padding: 0;

	&> ul {
		padding: 0 0.25em;
	}

	&> ul > li > span.metalevel {
		font-size: 0.8em;
		color: $aside-text-color;
	}
}

.overflow {
	color: $overflow-text-color !important;
}



$render-size: 6em;
section#ship {
	min-height: $render-size;
	margin-bottom: 1em;

	@include no-user-select;

	position: relative;

	&> h1 {
		&> img:first-child, &> div.notype:first-child {
			position: absolute;
			top: 0;
			left: 1em;

			width: $render-size;
			height: $render-size;
		}

		&> img:first-child {
			border-radius: 1em;
			overflow: hidden;
		}

		&> div.notype:first-child {
			border: 1px dashed $subsection-border-color;
		}

		&> small, &> strong {
			@include ellipsis;
		}

		font-size: 1em;
		margin: 0;
		padding: 0;

		&> strong {
			position: absolute;
			top: ($render-size * 0.5 - 1em) * 0.5;
			left: ($render-size + 2em) * 0.5;
			right: 0;
			font-size: 2em;
		}

		&> small {
			$height: 1.25em;

			color: $aside-text-color;
			opacity: 0.7;

			font-size: 1em;
			line-height: $height;
			height: $height;

			position: absolute;
			left: $render-size + 2em;
			right: 0;

			&.groupname {
				top: $render-size * 0.5 - 2.5em;
			}

			&.dbver {
				top: $render-size * 0.5 + 1.5em;
			}
		}
	}

	&.hascontextmenu {
		&> h1 > small.dbver {
			left: $render-size + 3.6em;
		}

		&> span.contextmenuindicator {
			position: absolute;
			top: ($render-size * 0.5 + 1.5em) * 0.5 - 0.3em;
			left: ($render-size + 2em) * 0.5;
			font-size: 2em;
		}
	}
}

.fitname {
	text-decoration: underline;
	font-weight: bold;

	&> img { height: 1em; }
}

ul.tags {
	margin: 0;
	padding: 0;
	list-style-type: none;

	&> li {
		display: inline-block;
		border: 1px solid $tag-border-color;
		border-radius: 0.25em;
		font-size: 0.8em;
		padding: 0.1em 0.5em;
		background-color: $tag-bg-color;
		margin: 0.25em 0.05em;
	}
}

span#clfspinner.spinner {
	position: fixed;
	right: 0.25em;
	bottom: 0.75em;
	z-index: 1000;
}

section#modules, section#drones, section#ship, section#implants {
	& span.name.missingskill {
		color: $missing-skill-text-color;
	}
}
