$module-width: 22.5em;
$metadata-width: 30em;

$developed-char: '\0025BE';
$hidden-char: '\0025B8';

@mixin column {
	&> h2 {
		text-align: center;

		&> em.help {
			font-size: 0.7em;
			color: $aside-text-color;
		}
	}

	&> ul {
		padding-left: 2em;
		list-style-type: square;
	}
}

@mixin error-background-opacity($opacity) {
	background-color: rgba($overflow-alpha-bg-color, $opacity);
}

@mixin module {
	padding: 0.125em 0;
	border-top: 1px dashed $module-border-color;
	line-height: 2em;
	position: relative;
	background-color: $main-bg-color;
	@include ellipsis;

	&, &> span.charge {
		&.hasncycles > span.ncycles {
			&:before { content: "("; }
			&:after { content: ")"; }
			font-size: 0.8em;
			opacity: 0.8;
			padding-left: 0.5em;
			display: inline-block;
		}

		&> span.name {
			@include ellipsis;
		}

		&.hasncycles > span.name {
			display: inline-block;
			vertical-align: middle;
			max-width: $module-width - 6em;
		}
	}

	&:first-child {
		border-top: none;
	}

	&> strong.qty {
		padding-left: 0.1em;
		padding-right: 0.1em;
		display: inline-block;
	}
	
	&> img, &> span.charge > img {
		height: 32px;
		width: 32px;
		margin-right: 0.125em;
	}

	&.hascontextmenu {
		padding-right: 1.5em;

		&> span.contextmenuindicator {
			font-size: 1.5em;
			text-align: center;
			display: inline-block;
			position: absolute;
			width: 1em;
			top: 0.1em;
			right: 0;
		}

		&.hasattribs > span.contextmenuindicator {
			top: -0.1em;
		}

		&.hasattribs.hascharge > span.contextmenuindicator {
			top: 0.1em;
		}
	}

	&> a.toggle_state {
		position: absolute;
		top: 16px;
		left: 16px;
	}

	&> a.toggle_state, &> a.toggle_state > img {
		width: 16px;
		height: 16px;
		line-height: 16px;
	}

	&> small.attribs {
		display: inline;
		position: absolute;
		right: 0.2em;
		bottom: 0;
		font-size: 0.7em;
		line-height: 1em;
		height: 1em;
		opacity: 0.8;
	}

	@include no-user-select;
}

@mixin module-list {
	width: $module-width;
	display: inline-block;
	vertical-align: top;
	margin: 0 1.5em 2em 0;

	&> ul {
		list-style-type: none;
		padding: 0;
		margin-top: 0.125em;

		&> li {
			@include module;

			&.placeholder {
				color: $unused-module-text-color;
			}
		}
	}

	&> h3 {
		border-bottom: 1px solid $section-border-color;
		padding-left: 0.25em;
		margin: 0;
		margin-top: 0.5em;
		position: relative;

		&> span {
			position: absolute;
			right: 0.125em;
			bottom: 0;
			color: $aside-text-color;

			&> small.groupcharges {
				background-size: 1em;
				cursor: pointer;
				opacity: 0.5;

				&:hover {
					opacity: 1.0;
				}

				padding-right: 0.25em;
			}
		}
	}

	&.grouped > h3 > span > small.groupcharges {
		@include sprite('./icons/modulegroup.png', 0, 0, 1em, 1em);
	}

	&.ungrouped > h3 > span > small.groupcharges {
		@include sprite('./icons/modulegroup.png', 0, 1em, 1em, 1em);
	}
}

div#computed_attributes > section {
	padding-left: 1em;

	&> h4 {
		padding-left: 0.5em;
		border-bottom: 1px solid $subsection-border-color;
		margin: 1em 0 0 0;
		position: relative;
		cursor: pointer;

		&:before {
			content: $developed-char;
			padding-right: 0.25em;
		}

		&> small {
			position: absolute;
			right: 0;
			bottom: 0;
			font-size: 0.9em;
			color: $aside-text-color;
		}
	}

	&.hidden > h4:before {
		content: $hidden-char;
	}

	&:first-child > h4 {
		margin-top: 0;
	}

	&> div {
		background-color: $subsection-bg-color;
		padding: 0.125em 0.25em;
	}

	&> div > p {
		display: inline-block;
		vertical-align: middle;
		margin: 0.25em 2em 0 0;
		padding: 0.125em;
		line-height: 1em;

		&> img {
			height: 2em;

			&+ span {
				display: inline-block;
				vertical-align: middle;

				&> img {
					height: 1em;
				}
			}
		}	
	}

	&> div > ul {
		list-style-type: square;
		margin: 0;
		padding-left: 1.25em;

		&> li.export {
			font-size: 0.8em;

			&> ul {
				padding-left: 1.25em;
			}
		}
	}

	&#misc > div > table {
		width: 100%;

		&> tbody > tr > td, &> tbody > tr > th {
			text-align: left;
			width: 50%;
		}
	}
}

div#computed_attributes > section > div > table#resists {
	border-collapse: collapse;
	margin: 0;
	width: 100%;

	&> tbody > tr > td, &> thead > tr > td, &> thead > tr > th#ehp {
		text-align: right;
	}

	&> thead > tr > th:first-child {
		width: 3em;
	}

	&> thead > tr > th#ehp {
		width: 4em;
	}

	&> tbody > tr > th > img, &> thead > tr > td > img {
		height: 2em;
	}

	&> tbody > tr > td > div {
		position: relative;
		width: 100%;
		padding-bottom: 1px;

		&> span.bar {
			position: absolute;
			bottom: 0;
			right: 0;
			height: 2px;
		}
	}

	&> tbody > tr {
		&> td.emresist > div > span.bar { background-color: $em-bg-color; }
		&> td.thermalresist > div > span.bar { background-color: $thermal-bg-color; }
		&> td.kineticresist > div > span.bar { background-color: $kinetic-bg-color; }
		&> td.explosiveresist > div > span.bar { background-color: $explosive-bg-color; }
	}

	&> thead > tr > th#ehp {
		font-weight: normal;
		font-size: 0.666em;

		&> strong {
			font-size: 1.5em;
		}
	}
}

ul#showinfotabs {
	@include tabs;
	text-align: left;
	margin-top: 0.5em;
	padding-left: 1em;
}

header#hsi > h2 {
	@include ellipsis;

	margin: 0.5em;
	padding: 0;

	&> img {
		width: 2em;
		height: 2em;
	}
}

section#siattributes > table > tbody > tr {
	&> td > img {
		height: 2em;
		width: 2em;
	}

	&> td {
		width: 50%;
		text-align: left;
		padding-left: 0.25em;
	}

	&.sep {
		border-top: 1px solid $attribute-separator-border-color;
	}
}

section#siafftype, section#siaffatt {
	&> p {
		text-align: center;
	}

	&> ul {
		&> li {
			font-weight: bold;
			margin-bottom: 2em;

			&> img {
				width: 1em;
				height: 1em;
			}

			&> ul {
				font-weight: normal;

				&> li {
					padding: 0.1em 0;

					&> small {
						color: $aside-text-color;
					}
				}

				&> li > label {
					min-width: 20em;
					display: inline-block;

					&> img {
						width: 1em;
						height: 1em;
					}
				}
			}
		}
	}
}

.overflow6 { @include error-background-opacity(0.30); }
.overflow5 { @include error-background-opacity(0.25); }
.overflow4 { @include error-background-opacity(0.20); }
.overflow3 { @include error-background-opacity(0.15); }
.overflow2 { @include error-background-opacity(0.10); }
.overflow1 { @include error-background-opacity(0.05); }



$render-size: 6em;
section#ship {
	min-height: $render-size;
	margin-bottom: 1em;

	@include no-user-select;

	position: relative;

	&> h1 {
		&> img:first-child, &> div.notype:first-child {
			position: absolute;
			top: 0;
			left: 1em;

			width: $render-size;
			height: $render-size;
		}

		&> img:first-child {
			border-radius: 1em;
			overflow: hidden;
		}

		&> div.notype:first-child {
			border: 1px dashed $subsection-border-color;
		}

		&> small, &> strong {
			@include ellipsis;
		}

		font-size: 1em;
		margin: 0;
		padding: 0;

		&> strong {
			position: absolute;
			top: ($render-size * 0.5 - 1em) * 0.5;
			left: ($render-size + 2em) * 0.5;
			right: 0;
			font-size: 2em;
		}

		&> small {
			$height: 1.25em;

			color: $aside-text-color;
			opacity: 0.7;

			font-size: 1em;
			line-height: $height;
			height: $height;

			position: absolute;
			left: $render-size + 2em;
			right: 0;

			&.groupname {
				top: $render-size * 0.5 - 2.5em;
			}

			&.dbver {
				top: $render-size * 0.5 + 1.5em;
			}
		}
	}

	&.hascontextmenu {
		&> h1 > small.dbver {
			left: $render-size + 3.6em;
		}

		&> span.contextmenuindicator {
			position: absolute;
			top: ($render-size * 0.5 + 1.5em) * 0.5 - 0.3em;
			left: ($render-size + 2em) * 0.5;
			font-size: 2em;
		}
	}
}

span.fitname, strong.fitname {
	text-decoration: underline;
	font-weight: bold;

	&> img { height: 1em; }
}

ul.tags {
	margin: 0;
	padding: 0;
	list-style-type: none;

	&> li {
		display: inline-block;
		border: 1px solid $tag-border-color;
		border-radius: 0.25em;
		font-size: 0.8em;
		padding: 0.1em 0.5em;
		background-color: $tag-bg-color;
		margin: 0.25em 0.05em;
	}
}
