$module-width: 22.5em;
$module-width-small: 19em;
$module-width-extrasmall: 16em;
$metadata-width: 30em;
$metadata-width-small: 20em;

$developed-char: '\0025BE';
$hidden-char: '\0025B8';

@mixin prop-metadata-width($prop, $add:0) {
	@include layout-type(small) { #{$prop}: $metadata-width-small + $add; }
	@include layout-type(normal) { #{$prop}: $metadata-width + $add; }
}

@mixin prop-module-width($prop, $add:0) {
	@include layout-type(extrasmall) { #{$prop}: $module-width-extrasmall + $add; }
	@include layout-type(small) { #{$prop}: $module-width-small + $add; }
	@include layout-type(normal) { #{$prop}: $module-width + $add; }
}

@mixin column {
	&> h2 {
		text-align: center;

		&> em.help {
			font-size: 0.7em;
			color: $aside-text-color;
		}
	}

	&> ul {
		padding-left: 2em;
		list-style-type: square;
	}
}

@mixin error-background-opacity($opacity) {
	background-color: rgba($overflow-alpha-bg-color, $opacity);
}

@mixin module {
	padding: 0.125em 0;
	border-top: 1px dashed $module-border-color;
	line-height: 2em;
	position: relative;
	background-color: $main-bg-color;

	&, &> span.charge {
		@include ellipsis;
	}

	&:first-child {
		border-top: none;
	}
	
	&> img, &> span.charge > img {
		height: 32px;
		width: 32px;
		margin-right: 0.125em;
	}

	&.hascontextmenu {
		padding-right: 1.5em;

		&> span.contextmenuindicator {
			font-size: 1.5em;
			text-align: center;
			display: inline-block;
			position: absolute;
			width: 1em;
			top: 0.1em;
			right: 0;
		}

		&.hasattribs > span.contextmenuindicator {
			top: -0.1em;
		}

		&.hasattribs.hascharge > span.contextmenuindicator {
			top: 0.1em;
		}
	}

	&> a.toggle_state {
		position: absolute;
		top: 16px;
		left: 16px;
	}

	&> a.toggle_state, &> a.toggle_state > img {
		width: 16px;
		height: 16px;
		line-height: 16px;
	}

	&> small.attribs {
		display: inline;
		position: absolute;
		right: 0.2em;
		bottom: 0;
		font-size: 0.7em;
		line-height: 1em;
		height: 1em;
		opacity: 0.8;
	}

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin module-top-corner-link {
	display: inline;
	position: absolute;
	right: 0;
	top: 0;
	height: 1em;
	line-height: 1em;
	
	&:active, &:focus {
		outline: 0;
	}
	
	&> img {
		height: 1em;
	}
}

@mixin module-bottom-corner-info {
	display: inline;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 0.8em;
	line-height: 1em;
	height: 1em;
	opacity: 0.8;
}

@mixin module-list-togglable {
	@include prop-module-width(width);
	display: inline-block;
	vertical-align: top;
	margin: 0 2em 2em 0;

	&> ul {
		list-style-type: none;
		padding: 0;
		margin-top: 0.125em;

		&> li {
			@include module;

			&.unused {
				color: $unused-module-text-color;
			}

			&> a.toggle {
				display: none;
			}

			&> span.range {
				@include module-bottom-corner-info;
			}
		}
	}

	&.stateful > ul > li {
		padding-right: 1em;
		position: relative;

		&> a.toggle {
			@include module-top-corner-link;
		}
	}

	&> h3 {
		border-bottom: 1px solid $section-border-color;
		padding-left: 0.25em;
		margin-bottom: 0;
		position: relative;

		&> small.capacity, &> strong {
			position: absolute;
			right: 0.125em;
			bottom: 0;
			color: $aside-text-color;

			&> span {
				display: inline-block;
				margin-left: 2em;

				&> img:first-child {
					vertical-align: bottom;
					height: 1.5em;
					margin-right: 0.25em;
				}
			}
		}
	}
}

@mixin module-list {
	@include prop-module-width(width);
	display: inline-block;
	vertical-align: top;
	margin: 0 2em 2em 0;

	&> ul {
		list-style-type: none;
		padding: 0;
		margin-top: 0.125em;

		&> li {
			@include module;

			&.placeholder {
				color: $unused-module-text-color;
			}
		}
	}

	&> h3 {
		border-bottom: 1px solid $section-border-color;
		padding-left: 0.25em;
		margin: 0;
		margin-top: 0.5em;
		position: relative;

		&> span {
			position: absolute;
			right: 0.125em;
			bottom: 0;
			color: $aside-text-color;

			&> small.groupcharges {
				background-size: 1em;
				cursor: pointer;
				opacity: 0.5;

				&:hover {
					opacity: 1.0;
				}

				padding-right: 0.25em;
			}
		}
	}

	&.grouped > h3 > span > small.groupcharges {
		@include sprite('./icons/modulegroup.png', 0, 0, 1em, 1em);
	}

	&.ungrouped > h3 > span > small.groupcharges {
		@include sprite('./icons/modulegroup.png', 0, 1em, 1em, 1em);
	}
}

@mixin drone-list {
	width: auto;
	display: block;
	overflow: hidden;
	
	&> div#inspace, &> div#inbay {
		width: 50%;

		&#inbay {
			float: left;
			padding-right: 1em;
		}

		&#inspace {
			margin-left: 50%;
			padding-left: 1em;
		}

		&> h4 {
			margin: 0.5em 0 0.25em 0;
			padding-left: 0.25em;
			border-bottom: 1px solid $subsection-border-color;
		}

		&> ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		&> ul > li {
			@include module;

			display: inline-block;
			border: none;
			width: auto;
			margin-right: 2em;

			&> img:first-child {
				margin-right: 0.5em;
			}

			&[data-count] {
				cursor: move;
			}
		}
	}
}

div#fittags > ul, ul.tags {
    margin: 0;
	padding: 0;
	list-style-type: none;

	&> li {
		display: inline-block;
		border: 1px solid $tag-border-color;
		border-radius: 0.5em;
		font-size: 0.8em;
		padding: 0.1em 0.5em;
		background-color: $tag-bg-color;
		margin: 0.25em 0.05em;
	}
}

span.fitname {
	text-decoration: underline;
	font-weight: bold;

	&> img {
		height: 1em;
	}
}

div#metadatabox, div#nlattribs {
	@include column;

	float: left;
	@include prop-metadata-width(width);

	&> ul > li > ul > li > a {
		&.active {
			text-decoration: none;
			color: $strong-emphasis-text-color;
			font-weight: bold;
		}

		&:focus {
			outline: 0;
		}
	}
}

div#computed_attributes > section {
	padding-left: 1em;

	&> h4 {
		padding-left: 0.5em;
		border-bottom: 1px solid $subsection-border-color;
		margin: 1em 0 0 0;
		position: relative;
		cursor: pointer;

		&:before {
			content: $developed-char;
			padding-right: 0.25em;
		}

		&> small {
			position: absolute;
			right: 0;
			bottom: 0;
			font-size: 0.9em;
			color: $aside-text-color;
		}
	}

	&.hidden > h4:before {
		content: $hidden-char;
	}

	&:first-child > h4 {
		margin-top: 0;
	}

	&> div {
		background-color: $subsection-bg-color;
		padding: 0.125em 0.25em;
	}

	&> div > p {
		display: inline-block;
		vertical-align: middle;
		margin: 0.25em 2em 0 0;
		padding: 0.125em;
		line-height: 1em;

		&> img {
			height: 2em;

			&+ span {
				display: inline-block;
				vertical-align: middle;

				&> img {
					height: 1em;
				}
			}
		}	
	}

	&> div > ul {
		list-style-type: square;
		margin: 0;
		padding-left: 1.25em;

		&> li.export {
			font-size: 0.8em;

			&> ul {
				padding-left: 1.25em;
			}
		}
	}

	&#misc > div > table {
		width: 100%;

		&> tbody > tr > td, &> tbody > tr > th {
			text-align: left;
			width: 50%;
		}
	}
}

div#computed_attributes > section > div > table#resists {
	border-collapse: collapse;
	margin: 0;
	width: 100%;

	&> tbody > tr > td, &> thead > tr > td, &> thead > tr > th#ehp {
		text-align: right;
	}

	&> thead > tr > th:first-child {
		width: 3em;
	}

	&> thead > tr > th#ehp {
		width: 4em;
	}

	&> tbody > tr > th > img, &> thead > tr > td > img {
		height: 2em;
	}

	&> tbody > tr > td > div {
		position: relative;
		width: 100%;
		padding-bottom: 1px;

		&> span.bar {
			position: absolute;
			bottom: 0;
			right: 0;
			height: 2px;
		}
	}

	&> tbody > tr {
		&> td.emresist > div > span.bar { background-color: $em-bg-color; }
		&> td.thermalresist > div > span.bar { background-color: $thermal-bg-color; }
		&> td.kineticresist > div > span.bar { background-color: $kinetic-bg-color; }
		&> td.explosiveresist > div > span.bar { background-color: $explosive-bg-color; }
	}

	&> thead > tr > th#ehp {
		font-weight: normal;
		font-size: 0.666em;

		&> strong {
			font-size: 1.5em;
		}
	}
}

ul#showinfotabs {
	@include tabs;
	text-align: left;
	margin-top: 0.5em;
	padding-left: 1em;
}

header#hsi > h2 {
	@include ellipsis;

	margin: 0.5em;
	padding: 0;

	&> img {
		width: 2em;
		height: 2em;
	}
}

section#siattributes > table > tbody > tr {
	&> td > img {
		height: 2em;
		width: 2em;
	}

	&> td {
		width: 50%;
		text-align: left;
		padding-left: 0.25em;
	}

	&.sep {
		border-top: 1px solid $attribute-separator-border-color;
	}
}

section#siaffectedby {
	&> ul {
		list-style-type: square;

		&> li {
			font-weight: bold;
			margin-bottom: 2em;

			&> img {
				width: 2em;
				height: 2em;
			}

			&> ul {
				font-weight: normal;
				list-style-type: square;
			}
		}
	}
}

div#showinfoicon {
	background-image: url('./icons/showinfo.png');
	background-size: 100%;
	width: 16px;
	height: 16px;
	display: none;
	position: absolute;
}

.overflow6 { @include error-background-opacity(0.30); }
.overflow5 { @include error-background-opacity(0.25); }
.overflow4 { @include error-background-opacity(0.20); }
.overflow3 { @include error-background-opacity(0.15); }
.overflow2 { @include error-background-opacity(0.10); }
.overflow1 { @include error-background-opacity(0.05); }
