div.mainpcont {
	text-align: center;
	max-width: 110em;
	margin: auto;

	&#search_mini.quick > form {
		border-bottom: 0 !important;
	}
}

div.mainpcont > section {
	text-align: left;

	@include fixed-width-page;

	width: 50em;
	display: inline-block;
	vertical-align: top;
	margin: 0 2em;
	margin-bottom: 2em;

	&> h2 > small:last-child > a > img {
		width: 0.8em;
		height: 0.8em;
		padding-bottom: 0.125em;
		opacity: 0.5;

		&:hover {
			opacity: 1.0;
		}
	}

	&> ul#populartags {
		text-align: center;

		&> li {
			font-size: 1.0em;
			margin: 0.5em;
			font-weight: bold;

			&> a {
				font-weight: normal;
			}
		}
	}

	&> p.b_more {
		text-align: center;
	}

	&.metrics {
		&> ul {
			text-align: center;
			display: table;
			table-layout: fixed;
			width: 100%;

			&, & > li {
				margin: 0;
				padding: 0;
			}

			&> li {
				display: table-cell;
				padding: 0.5em 2em;
				font-size: 0.8em;

				&> strong {
					font-size: #{(2 / 0.8)}em;
					display: block;
				}
			}
		}
	}

	&.fotw, &.doctrines {
		&> h2 > small {
			font-size: 0.6em;
			opacity: 0.5;

			&> a {
				color: $aside-text-color;
				text-decoration: none;
			}

			&:hover {
				opacity: 1.0;
			}
		}

		&> ol {
			@include loadout-list;
			text-align: center;

			&> li {
				display: inline-block;
				margin: 1em;
				border: 0;
				vertical-align: top;

				&> a > div.timespan {
					left: 4.5em;
				}

				&> a > img:first-child {
					left: 9em;
				}

				&> a > img.alogo {
					left: 13.5em;
				}
			}
		}

		&.doctrines > ol > li {
			margin: 1em 3em;
			padding-left: 18em;

			&:nth-child(4n+2), &:nth-child(4n+3) {
				background-color: $loadout-list-odd-bg-color;
			}

			&:nth-child(4n), &:nth-child(4n+1) {
				background-color: $main-bg-color;
			}
		}
	}
}
