div#mainpcont > section {
	@include fixed-width-page;

	&> h2 > small:last-child > a > img {
		width: 0.8em;
		height: 0.8em;
		padding-bottom: 0.125em;
		opacity: 0.5;

		&:hover {
			opacity: 1.0;
		}
	}

	&> ul#populartags {
		text-align: center;

		&> li {
			font-size: 1.0em;
			margin: 0.5em;
			font-weight: bold;

			&> a {
				font-weight: normal;
			}
		}
	}

	&> p.b_more {
		text-align: center;
	}
}
