$layout-small: 321px;
$layout-normal: 1000px;
$layout-large: 1570px;

@mixin layout-type($type) {
	@if $type == extrasmall {
		@media (max-width: $layout-small) { @content; }
	} @else if $type == small {
		@media (max-width: $layout-normal) { @content; }
	} @else if $type == normal {
		@media (max-width: $layout-large) { @content; }
	} @else if $type == large {
		@media (min-width: $layout-large) { @content; }
	}
}

@mixin orientation-type($type) {
	@media (orientation: $type) { @content; }
}