div#nlmain {
	margin-left: $metadata-width + 1em;
	margin-right: $module-width + 2.5em;
	padding: 0 1em;
	border-left: 1px dotted $loadout-column-border-color;
	border-right: 1px dotted $loadout-column-border-color;
}

div#nlsources {
	float: right;
	width: $module-width + 0.5em;
	padding: 0 1em;
}

div#nlattribs {
	float: left;
	width: $metadata-width;
}

div#nlsources, div#nlmain, div#nlattribs {
	@include column;

	&> ul.tabs {
		@include tabs;
	}
}

div#nlsources {
	&> section#search > form > ul.filters, &> section#browse > ul.filters, &> section#shortlist > ul.filters {
		text-align: center;
		margin: 0.5em 0;
		padding: 0;
		list-style-type: none;

		@include no-user-select;

		&> li {
			margin: 0.25em;
			padding: 0;
			display: inline-block;
			position: relative;
			width: 32px;
			height: 32px;

			&> input[value="0"] {
				& + a.on { display: none; }
				& + a.on + a.off { opacity: 0.5; }
			}

			&> input[value="1"] {
				& + a.on + a.off { display: none; }
			}

			&> a {
				overflow: hidden;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				&> img {
					position: absolute;
					top: 0;
					left: 0;
				}

				&.mg2 > img { left: -32px; }
				&.mg14 > img { left: -64px; }
				&.mg3 > img { left: -96px; }
				&.mg4 > img { left: -128px; }
				&.mg5 > img { left: -160px; }
				&.mg6 > img { left: -192px; }

				&.off > img { top: -32px; }
			}
		}
	}
	
	&> section.ps-container > div.ps-scrollbar-y-rail {
		right: -5px;

		&, &> div.ps-scrollbar-y {
			border-radius: 0;
		}
	}
}

div#nlsources > section#search {
	&> form > div.query {
		text-align: center;
		position: relative;

		&> div {
			position: absolute;
			left: 0;
			right: 5em;

			&> input[type="search"] {
				width: 100%;
			}
		}

		&> input[type="submit"] {
			position: absolute;
			right: 0;
			width: 5em;
		}
	}

	&> ul.results {
		margin: 0;
		padding: 0;
		margin-top: 2.5em;
	}

	&> p.warning {
		margin: 0;
	}
}

div#nlsources > section#browse > div.mgroot {
	$padding: 2em;
	$base-padding: 0.5em;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	ul.children > li > h4 {
		@include ellipsis;

		margin: 0;

		&:before {
			content: $developed-char;
			padding-right: 0.25em;
		}

		padding: 0.4em 0;
		font-weight: normal;
		font-family: $sans-font;

		border-top: 1px solid $subsection-border-color;

		@include linear-gradient-lighten-top($subsection-bg-color, 3%);
		color: $strong-emphasis-text-color;

		cursor: pointer;
	}

	ul.children > li > h4:hover {
		@include linear-gradient-lighten-top($subsection-active-bg-color, 3%);
	}

	ul.children.partiallyunfolded > li.folded > h4 {
		color: $aside-text-color;
	}

	ul.types {
		border-top: 1px solid $subsection-border-color;
	}

	&> ul.children > li.folded:last-child {
		border-bottom: 1px solid $subsection-border-color;
	}

	ul.children > li.folded {
		&> h4:before {
			content: $hidden-char;
		}

		&> ul {
			display: none;
		}
	}

	&> ul.children > li {
		&> h4 { padding-left: 0 * $padding + $base-padding; }

		&> ul.children > li {
			&> h4 { padding-left: 1 * $padding + $base-padding; }

			&> ul.children > li {
				&> h4 { padding-left: 2 * $padding + $base-padding; }

				&> ul.children > li {
					&> h4 { padding-left: 3 * $padding + $base-padding; }

					&> ul.children > li {
						&> h4 { padding-left: 4 * $padding + $base-padding; }

						&> ul.children > li {
							&> h4 { padding-left: 5 * $padding + $base-padding; }
						}
					}
				}
			}
		}
	}

	ul.types {
		min-height: 2em;
	}
}

div#nlsources > section#shortlist > ul.types {
	margin: 0;
	padding: 0;
}

div#nlsources > section li.module {
	@include module;
}

div#nlsources > section {
	position: relative;
	overflow: hidden;
}

div#nlattribs > section#control {
	margin: 1em 0em 1em 1em;
	text-align: center;
}

div#nlattribs > section#control > form > table {
	width: 100%;

	&> tbody > tr > td {
		vertical-align: middle;
		padding: 0.25em;

		&> input, &> select {
			width: 100%;
			min-width: 0;
			height: 1.7em;
			line-height: 1em;
		}

		&> input[type='button'], &> select { height: 2em; }
	}
}

div#nlmain > section#metadata, div#nlmain > section#presets {
	&> form > table {
		width: 100%;

		&> tbody > tr > td {
			&> textarea, &> select, &> input {
				min-width: 0;
				width: 100%;
			}
		}
	}
}

div#nlmain > section#presets {
	&> form > table > tbody > tr > td {
		&> input.createpreset, &> input.renamepreset, &> input.clonepreset, &> input.deletepreset {
			min-width: 0;
			width: 10em;
			margin-top: 0.5em;
			display: inline-block;
			padding: 0.25em;
			height: auto;
		}
	}
}

div#nlmain > section#metadata {
	&> form > table {
		label[for="name"], input#name {
			font-size: 2em;
			font-family: $serif-font;
		}

		&> tbody {
			&> tr#common_tags, &> tr#recommended_tags {
				&> th, &> td { border: 0; }
			}
		}
	}
}

section#modules div.slots, section#drones div.drones {
	@include module-list;

	&> ul.ui-sortable {
		&> li.sortable-placeholder {
			height: 2em;
			background-color: $module-border-color;
			opacity: 0.5;
		}
	}
}

section#implants > div {
	@include module-list;

	&> ul > li > span.slot {
		font-size: 0.8em;
		color: $aside-text-color;
	}
}

section#remote {
	@include readable;

	&> section > h2 {
		border-bottom: 1px solid $section-border-color;
	}
}

section#remote > section#projected {
	z-index: 499;
	@include no-user-select;

	&.fs {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&> h2 {
			margin: 0.5em 0.25em;
			padding-left: 0.25em;
		}

		&> p#rearrange {
			visibility: visible;
		}

		&> form#projected-list {
			position: absolute;
			top: 0;
			left: 0;
			width: 0px;
			height: 0px;

			&> div.pr-loadout {
				margin: 0;
				position: absolute;
				z-index: 501;
			}
		}
	}

	&> div#fsbg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($main-bg-color, .9);
	}

	&> h2 {
		position: relative;

		&> form {
			display: inline;
			position: absolute;
			right: 0.125em;
			top: -0.25em;
		}
	}

	&> p#rearrange {
		opacity: 0.5;
		position: absolute;
		right: 0.5em;
		top: 1.5em;
		text-align: right;

		visibility: hidden;
	}

	&> form#projected-list {
		position: relative;
		z-index: 500;

		&> div.pr-loadout {
			display: inline-block;
			vertical-align: middle;
			margin: 4em;
			width: 120px;
			height: 120px;
			border-radius: 50%;
			position: relative;

			border: 0.25em solid $subsection-border-color;
			background-color: rgba($main-bg-color, 0.2);

			&> img.render {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				z-index: -1;
				opacity: 0.5;
			}

			&> ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				position: absolute;
				top: 50%;
				left: 50%;

				&> li {
					display: inline-block;
					position: absolute;
					padding: 0;
					margin: 0;

					width: 56px;
					height: 56px;
					border-radius: 50%;
					overflow: hidden;

					background-color: rgba($subsection-bg-color, 0.5);
					border: 0.25em solid rgba($subsection-border-color, 0.5);

					&> img:first-child {
						position: absolute;
						left: -4px;
						top: -4px;
						width: 64px;
						height: 64px;
					}

					&> span.contextmenuindicator {
						display: none;
					}

					&.hastarget {
						border-color: transparent;
					}

					&> div.bghue {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: -1;
					}
				}
			}

			&> svg {
				position: absolute;
				width: 64px;
				height: 64px;
				top: 50%;
				left: 50%;
				margin-left: -32px;
				margin-top: -32px;
			}

			&> span.contextmenuindicator {
				display: none;
			}
		}
	}

	._jsPlumb_connector {
		z-index: -10;
	}

	._jsPlumb_endpoint {
		z-index: -9;
	}

	._jsPlumb_overlay {
		z-index: -8;
	}
}

form#m-remote {
	position: absolute;
	top: 3em;
	left: 3em;
	right: 3em;
	bottom: 3em;
	text-align: center;

	&> table {
		position: absolute;
		width: 100%;
		top: 0;

		td.l { text-align: left; }

		input[type='submit'] {
			width: 10em;
			height: 3em;
			line-height: 3em;
			font-weight: bold;
		}
	}
}

form#m-dpsg {
	&> table {
		width: 100%;

		&> tbody > tr > td {
			padding: 0.5em 0.25em;
			text-align: center;
			line-height: 1.5em;
			vertical-align: middle;

			&> label {
				display: block;
			}

			&> input[type="text"] {
				width: 5em;
				min-width: 5em;
				text-align: right;
			}
		}
	}
}

div#m-dpsg-ctx {
	position: absolute;
	top: 7em;
	left: 0;
	right: 0;
	bottom: 0;

	&> span.xlabel, &> span.ylabel {
		text-align: center;
	}

	&> span.ylabel {
		position: absolute;
	}

	&> span.ylabel.rotated {
		-webkit-transform: rotate(-90deg);
		-webkit-transform-origin: center center;
		-moz-transform: rotate(-90deg);
		-moz-transform-origin: center center;
		transform: rotate(-90deg);
		transform-origin: center center;
	}

	&> span.dpslabel {
		font-size: 0.8em;
	}

	&> div.cctx {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		left: 2em;
		bottom: 2em;

		&> canvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		border-left: 1px solid $section-border-color;
		border-bottom: 1px solid $section-border-color;

		&.twodim {
			right: 5em;
		}
	}

	&> div.legend {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		width: 3.5em;
		bottom: 2em;

		&> canvas {
			position: absolute;
			top: 0;
			right: 0;
			width: 1em;
			height: 100%;
		}

		padding-bottom: 2px;
		border-bottom: 1px solid $section-border-color;
	}
}

div#loadingoverlay {
	position: fixed;
	background-color: rgba($main-bg-color, .9);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1999;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	&> div {
		position: absolute;
		top: 50%;
		left: 50%;

		text-align: center;

		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);


		p#needjs {
			@include prefixize(animation, fadein 5s);
		}

		span.loading {
			&> span {
				$duration: 0.5s;
				@include prefixize(animation, bounce $duration ease 0s infinite alternate);
				position: relative;

				&.p1 { @include prefixize(animation-delay, 1 * $duration / 6); }
				&.p2 { @include prefixize(animation-delay, 2 * $duration / 6); }
				&.p3 { @include prefixize(animation-delay, 3 * $duration / 6); }
				&.p4 { @include prefixize(animation-delay, 4 * $duration / 6); }
				&.p5 { @include prefixize(animation-delay, 5 * $duration / 6); }
			}
		}
	}
}
