div#nlmain {
	@include column;

	@include prop-metadata-width(margin-left, 1em);
	@include prop-module-width(margin-right, 1.5em);
	border-left: 1px dotted $loadout-column-border-color;
	border-right: 1px dotted $loadout-column-border-color;
	padding: 0 0.5em;

	&> ul.tabs {
		@include tabs;
	}
}

div#nlsources {
	@include column;
	@include prop-metadata-width(margin-left, 1em);
	border-left: 1px dotted $loadout-column-border-color;
	margin-right: 1em;
	padding-left: 1em;
	text-align: center;

	@include layout-type(normal) {
		float: right;
		width: $module-width + 0.5em;
		padding-right: 0.5em;

		text-align: left;
		border: 0;
		margin: 0;
	}

	&> ul.tabs {
		@include tabs;
	}
}

$mg-width: 32px;
$mg-height: $mg-width;
$mg-file: "./icons/metagroups.svg";

@mixin metagroup-sprite($x, $y) {
	@include sprite($mg-file, $x * $mg-width, $y * $mg-height, $mg-width, $mg-height);
}

div#nlsources {
	&> section#search > form > ul.filters, &> section#browse > ul.filters, &> section#shortlist > ul.filters {
		text-align: center;
		margin: 0.5em 0;
		padding: 0;
		list-style-type: none;

		&> li {
			margin: 0;
			padding: 0.25em;
			display: inline-block;

			&> input[value="0"] + a {
				opacity: 0.5;

				&.mg1 {
					@include metagroup-sprite(0, 1);
				}

				&.mg2 {
					@include metagroup-sprite(1, 1);
				}

				&.mg14 {
					@include metagroup-sprite(2, 1);
				}

				&.mg3 {
					@include metagroup-sprite(3, 1);
				}

				&.mg4 {
					@include metagroup-sprite(4, 1);
				}

				&.mg5 {
					@include metagroup-sprite(5, 1);
				}

				&.mg6 {
					@include metagroup-sprite(6, 1);
				}
			}

			&> a.mg1 {
				@include metagroup-sprite(0, 0);
			}

			&> a.mg2 {
				@include metagroup-sprite(1, 0);
			}

			&> a.mg14 {
				@include metagroup-sprite(2, 0);
			}

			&> a.mg3 {
				@include metagroup-sprite(3, 0);
			}

			&> a.mg4 {
				@include metagroup-sprite(4, 0);
			}

			&> a.mg5 {
				@include metagroup-sprite(5, 0);
			}

			&> a.mg6 {
				@include metagroup-sprite(6, 0);
			}
		}
	}
}

div#nlsources > section#search {
	&> form > div.query {
		text-align: center;
		position: relative;

		&> div {
			position: absolute;
			left: 0;
			right: 5em;

			&> input[type="search"] {
				width: 100%;
			}
		}

		&> input[type="submit"] {
			position: absolute;
			right: 0;
			width: 5em;
		}
	}

	&> ul.results {
		margin: 0;
		padding: 0;
		margin-top: 2em;
	}

	&> p.warning {
		margin: 0;
	}
}

div#nlsources > section#browse > div.mgroot {
	$padding: 2em;
	$base-padding: 0.5em;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	ul.children > li > h4 {
		@include ellipsis;

		margin: 0;

		&:before {
			content: $developed-char;
			padding-right: 0.25em;
		}

		padding: 0.4em 0;
		font-weight: normal;
		font-family: $sans-font;

		border-top: 1px solid $subsection-border-color;

		@include linear-gradient-lighten-top($subsection-bg-color, 3%);
		color: $strong-emphasis-text-color;

		cursor: pointer;
	}

	ul.children > li > h4:hover {
		@include linear-gradient-lighten-top($subsection-active-bg-color, 3%);
	}

	ul.children.partiallyunfolded > li.folded > h4 {
		color: $aside-text-color;
	}

	ul.types {
		border-top: 1px solid $subsection-border-color;
	}

	&> ul.children > li.folded:last-child {
		border-bottom: 1px solid $subsection-border-color;
	}

	ul.children > li.folded {
		&> h4:before {
			content: $hidden-char;
		}

		&> ul {
			display: none;
		}
	}

	&> ul.children > li {
		&> h4 {
			padding-left: 0 * $padding + $base-padding;
		}

		&> ul.children > li {
			&> h4 {
				padding-left: 1 * $padding + $base-padding;
			}

			&> ul.children > li {
				&> h4 {
					padding-left: 2 * $padding + $base-padding;
				}

				&> ul.children > li {
					&> h4 {
						padding-left: 3 * $padding + $base-padding;
					}

					&> ul.children > li {
						&> h4 {
							padding-left: 4 * $padding + $base-padding;
						}

						&> ul.children > li {
							&> h4 {
								padding-left: 5 * $padding + $base-padding;
							}
						}
					}
				}
			}
		}
	}

	ul.types {
		min-height: 2em;
	}
}

div#nlsources > section#shortlist > ul.types {
	margin: 0;
	padding: 0;
}

div#nlsources > section li.module {
	@include module;
	cursor: pointer;
}

$render-size: 6em;
div#nlattribs > section#ship {
	min-height: $render-size;
	margin-bottom: 1em;

	position: relative;

	&> h1 {
		&> img:first-child, &> div.notype:first-child {
			position: absolute;
			top: 0;
			left: 1em;

			width: $render-size;
			height: $render-size;

			border: 1px dashed $subsection-border-color;
		}

		&> small, &> strong {
			@include ellipsis;
		}

		font-size: 1em;
		margin: 0;
		padding: 0;

		&> strong {
			position: absolute;
			top: $render-size * 0.2;
			left: ($render-size + 2em) * 0.5;
			right: 0;
			bottom: 0;
			font-size: 2em;
		}

		&> small {
			$height: 1.25em;

			color: $aside-text-color;

			font-size: 1em;
			line-height: $height;
			height: $height;

			position: absolute;
			top: ($render-size * 0.4) - $height;
			left: $render-size + 2em;
			right: 0;
		}
	}

	&> span.contextmenuindicator {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 2em;
	}
}

div#nlattribs > section#control {
	text-align: center;
	margin: 1em;

	&> form > input {
		padding: 1em;
		margin: 0.5em;
		font-weight: bold;

		&#reset_loadout {
			font-weight: normal;
			opacity: 0.5;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

div#nlmain > section#metadata, div#nlmain > section#presets {
	&> form > table {
		width: 100%;

		&> tbody > tr > td {
			&> textarea, &> select, &> input {
				min-width: 0;
				width: 100%;
			}
		}
	}
}

div#nlmain > section#presets {
	&> form > table > tbody > tr > td {
		&> input.createpreset, &> input.renamepreset, &> input.clonepreset, &> input.deletepreset {
			min-width: 0;
			width: 10em;
			margin-top: 0.5em;
			display: inline-block;
			padding: 0.25em;
			height: auto;
		}
	}
}

div#nlmain > section#metadata {
	&> form > table {
		label[for="name"], input#name {
			font-size: 2em;
			font-family: $serif-font;
		}
	}
}

div#nlmain > section#modules {
	&> div.slots {
		@include module-list;

		&> ul.ui-sortable {
			&> li.sortable-placeholder {
				height: 2em;
				background-color: $module-border-color;
				opacity: 0.5;
			}
		}
	}
}
