div#loadoutbox {
	@include column;

	margin-left: $metadata-width + 1em;
	margin-right: $module-width + 1.5em;
	border-left: 1px dotted #CCC;
	border-right: 1px dotted #CCC;
	padding-left: 1em;

	&> form > table {
		width: 100%;
		margin-top: 1em;
	}

	&> div.loadout_slot_cat {
		@include module-list-togglable;

		&> ul > li.module {
			cursor: move;
		}
	}
}

div#dronelistbox {
	@include column;

	float: right;
	width: $module-width + 0.5em;
	padding-right: 0.5em;

	&> form > input[type='search'] {
		width: 16em;
	}
}

div#shortlistbox {
	@include column;

	float: right;
	width: $module-width + 0.5em;
	padding-right: 0.5em;

	&> div#searchbox {
		@include column;

		&> ul {
			padding: 0;
		}
		
		&> form > input[type='search'] {
			width: 16em;
		}

		&> form > p#search_filters {
			margin: 0.125em 0;

			&> img.meta_filter {
				cursor: pointer;
				
				&.ds {
					opacity: 0.2;
				}
			}
		}
	}

	&> ul#modules_shortlist > li.module, &> div#searchbox > ul#search_results > li.module {
		position: relative;
		padding-right: 2.25em;

		&> span.links {
			position: absolute;
			width: 2em;
			display: inline-block;
			right: 0;

			&> a {
				display: inline-block;
				width: 1em;
			}

			&> a.removemodulefromshortlist {
				text-decoration: line-through !important;
			}
		}
	}
}

div#searchbox > ul#search_results,
div#dronelistbox > ul#search_results,
div#shortlistbox > ul#modules_shortlist {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: $module-width;
	display: inline-block;
	text-align: left;

	&> li {
		@include module;

		&.module, &.drone {
			cursor: move;
		}

		&.shortlist_dummy {
			text-align: center;
		}
	}
}

div#metadatabox {
	&> div.compact#computed_attributes {
		margin: 0;
	}

	&> form.presets {
		text-align: center;

		&> select, &> textarea {
			font-size: 1em;
			min-width: 25em;
			margin: 0.25em 0;
		}

		&> textarea {
			min-height: 3em;
		}

		&> button[disabled] {
			opacity: 0.2;
		}
	}
}

input[type='submit'] {
	&.next_step, &.final_step, &.prev_step {
		font-size: 1em;
		border-color: darkgreen;
		background-color: #F0FFF0;
	}
}

select#hullid {
	font-size: 1.4em;
}

h1#newloadout {
	margin-bottom: 0;
}

div#presetsbox {
	@include column;

	&> ul#presets {
		list-style-type: none;
		padding-left: 0;
	}

	&> ul#presets > li {
		@include ellipsis;

		line-height: 2em;
		border-top: 1px dotted #CCC;
		padding-left: 0.5em;

		&:first-child {
			border-top: none;
		}

		&.selected {
			background-color: #E8FFE8;
		}

		&> span {
			float: right;
			visibility: hidden;
			font-size: 0.9em;
			padding-right: 0.25em;
		}

		&:hover > span {
			visibility: visible;
		}
	}
}

div#chargegroupsbox {
	@include column;

	margin-left: $metadata-width + 1em;
	border-left: 1px dotted #CCC;
	padding-left: 1em;

	&> h2 {
		text-align: left;
		margin-bottom: 0;
	}

	&> form > table > tbody > tr > td > ul#chargegroups {
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-bottom: 2em;

		&> li {
			border-top: 1px dotted #CCC;
			padding: 1em 0;

			&:first-child {
				border-top: none;
			}

			&> ul {
				list-style-type: none;
				padding: 0;
			}

			&> ul > li {
				&.ui-selecting {
					background-color: #FFFFCC;
				}

				&.ui-selected {
					background-color: #E8FFE8;
				}
			}
			
			&> ul > li > select {
				width: auto;
			}
		}
	}
}

div#dronebay {
	@include column;

	margin-left: $metadata-width + 1em;
	padding-left: 1em;
	margin-right: $module-width + 1.5em;
	padding-right: 1em;
	border-left: 1px dotted #CCC;
	border-right: 1px dotted #CCC;

	&> h2 {
		text-align: left;
		margin-bottom: 0;
	}

	&> p#dronecapacity, &> p#dronebandwidth {
		&> img:first-child {
			height: 2em;
			margin-right: 0.5em;
		}
	}

	&> div > h4 {
		border-bottom: 1px solid #CCC;
		margin-bottom: 0.5em;
		width: $module-width;
		padding-left: 0.5em;
	}

	&> div > ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: $module-width;
	}

	&> div > ul > li {
		@include module;
		cursor: move;

		&.drone_placeholder {
			text-align: center;
			font-style: italic;
		}
	}
}
