div#search_mini {
	&> form, &> form > h1, &> form > p {
		display: inline-block;
		margin: 0;
	}

	&> form {
		border-bottom: 1px dotted $subsection-border-color;

		&> h1 {
			font-size: 1.5em;
			margin-right: 0.5em;
		}

		&> p {
			margin: 1.3em 0 1em 0;
			vertical-align: top;
			line-height: 2em;

			&> input {
				font-size: 1.2em;
				
				&[type='search'] {
					width: 30em;
				}
			}
		}
	}

	&.quick {
		text-align: center;
	}
}

div#search_full {
	position: absolute;
	width: 60em;
	height: 10em;
	top: 50%;
	left: 50%;
	margin-top: -15em;
	margin-left: -30em;
	text-align: center;

	&> form > h1 {
		margin: 0;
		padding: 0;
		margin-bottom: 0.5em;
	}

	&> form > p {
		line-height: 2em;

		&> input {
			font-size: 1.5em;

			&[type='search'] {
				width: 30em;
			}
		}
	}
}

ol.loadout_sr {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;

	&> li {
		position: relative;
		border-bottom: 1px dotted $subsection-border-color;
		padding-bottom: 1.5em;
		padding-top: 0.5em;
		padding-left: 13.5em;
		height: 3em;
		@include ellipsis;

		&:nth-child(2n) {
			background-color: $loadout-list-odd-bg-color;
		}

		&> div.lscore, &> div.ccount, &> a > img:first-child {
			position: absolute;
			width: 4em;
			height: 4em;
			top: 0.5em;
			left: 0.5em;
		}

		&> a > img:first-child {
			left: 9em;
			border-radius: 0.75em;
			overflow: hidden;
		}

		&> div.ccount {
			left: 4.5em;
		}

		&> div.lscore, &> div.ccount {
			text-align: center;
			line-height: 4em;

			a {
				text-decoration: none;
				color: $main-text-color;
			}

			span {
				line-height: 1em;
				display: inline-block;
				vertical-align: middle;

				&> strong {
					font-size: 1.5em;
					@include ellipsis;
				}
			}
		}

		&> small, &> small > a {
			color: $loadout-search-metadata-text-color;
		}
	}
}

p.pagination {
	color: $pagination-meta-text-color;
	font-size: 0.8em;
}

ol.pagination {
	list-style-type: none;

	&> li {
		display: inline-block;
		text-align: center;
		font-weight: bold;
		min-width: 2em;

		&:first-child, &:last-child {
			min-width: 6em;
			font-weight: normal;
		}

		&:first-child span:before, &:first-child a:before {
			content: "⇦ ";
		}

		&:last-child span:after, &:last-child a:after {
			content: " ⇨";
		}

		&> a {
			font-weight: normal;
			text-decoration: none;
			opacity: 0.6;

			&:hover, &:active, &:focus {
				opacity: 1.0;
			}
		}

		&> a, &> span {
			display: block;
			height: 1em;
			line-height: 1em;
			border: 1px solid;
			padding: 0.25em 0.5em;
		}

		&.dummy {
			opacity: 0.2;
		}
	}
}