div#search_mini {
	&> form, &> form > h1, &> form > p {
		display: inline-block;
		margin: 0;
	}

	&> form {
		border-bottom: 1px dotted $subsection-border-color;

		&> h1 {
			font-size: 1.5em;
			margin-right: 0.5em;
		}

		&> p {
			margin: 1.3em 0 1em 0;
			vertical-align: top;
			line-height: 2em;

			&> input {
				font-size: 1.2em;
				
				&[type='search'] {
					width: 30em;
				}
			}
		}
	}

	&.quick {
		text-align: center;
	}
}

div#search_full {
	position: absolute;
	width: 60em;
	height: 10em;
	top: 50%;
	left: 50%;
	margin-top: -15em;
	margin-left: -30em;
	text-align: center;

	&> form > h1 {
		margin: 0;
		padding: 0;
		margin-bottom: 0.5em;
	}

	&> form > p {
		line-height: 2em;

		&> input {
			font-size: 1.5em;

			&[type='search'] {
				width: 30em;
			}
		}
	}
}

ol.loadout_sr {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;

	&> li {
		display: inline-block;
		position: relative;
		width: 16em;
		min-height: 7.25em;
		vertical-align: top;
		margin: 1em 3em 1em 7em;
		padding: 0 0.5em;
		text-align: left;

		border-left: 1px solid $subsection-border-color;

		&> a > img:first-child {
			display: inline-block;
			width: 4em;
			height: 4em;
			vertical-align: middle;

			overflow: hidden;
			border-radius: 1em;
			position: absolute;
			left: -4.5em;
			top: 0em;
		}

		&> a.fitname {
			display: block;
			@include ellipsis;
		}

		&> div.dps, &> div.ehp, &> div.esp {
			position: absolute;
			left: -4.75em;
			width: 4.25em;
			@include ellipsis;
			text-align: right;

			&> span > strong:after {
				content: " ";
			}

			&.dps {
				top: 4.25em;
			}

			&.ehp {
				top: 5.25em;
			}

			&.esp {
				top: 6.25em;
			}
		}

		&> div.sideicons {
			position: absolute;
			left: -5.25em;
			top: 0.5em;
			width: 16px;
		}

		&> small, &> small > a {
			color: $loadout-search-metadata-text-color;
			text-decoration: none;
		}

		&> em.notags {
			display: block;
			opacity: 0.5;
		}

		&> ul.tags {
			opacity: 0.8;
		}
	}
}

p.pagination {
	color: $pagination-meta-text-color;
	font-size: 0.8em;
}

ol.pagination {
	list-style-type: none;

	&> li {
		display: inline-block;
		text-align: center;
		font-weight: bold;
		min-width: 2em;

		&:first-child, &:last-child {
			min-width: 6em;
			font-weight: normal;
		}

		&:first-child span:before, &:first-child a:before {
			content: "⇦ ";
		}

		&:last-child span:after, &:last-child a:after {
			content: " ⇨";
		}

		&> a {
			font-weight: normal;
			text-decoration: none;
			opacity: 0.6;

			&:hover, &:active, &:focus {
				opacity: 1.0;
			}
		}

		&> a, &> span {
			display: block;
			height: 1em;
			line-height: 1em;
			border: 1px solid;
			padding: 0.25em 0.5em;
		}

		&.dummy {
			opacity: 0.2;
		}
	}
}
