div#account_settings {
	padding: 0 1em;

	&> ul.tindex {
		@include tabs;
	}

	&> section#s_characters {
		&> form > table > tbody > tr > td {
			&> input[type='text'] {
				min-width: 0;
			}

			&> input[type='submit'] {
				margin: .05em .2em;
			}
		}
	}

	&> section#s_accountauth {
		&> table.d > tbody > tr {
			&> td, &> th {
				vertical-align: middle;
				padding: 1.5em .5em;
			}

			&> td > form input {
				line-height: 1.5em;
			}

			&> td.sso {
				&> img {
					float: left;
					width: 4em;
					height: 4em;
				}

				&> code {
					line-height: 2em;
				}
			}
		}
	}
}
