table.d {
	width: 100%;
	border-collapse: collapse;

	&> thead {
		border-bottom: 1px solid $table-header-border-color;
	}

	&> tfoot {
		border-top: 1px solid $table-header-border-color;
	}

	&> thead, &> tfoot {
		background-color: $table-header-bg-color;
	}

	&> tbody {
		&> tr {
			border-top: 1px dotted $table-header-border-color;

			&:first-child {
				border: none;
			}

			&:nth-child(2n) > td {
				background-color: $table-row-even-bg-color;
			}

			&:nth-child(2n+1) > td {
				background-color: $table-row-odd-bg-color;
			}
		}
	}

	&> thead, &> tfoot, &> tbody {
		&> tr {
			&> td, &> th {
				padding: 0.25em;
				text-align: center;
			}
		}
	}
}
