@mixin tabs {
	list-style-type: none;
	margin: 0;
	padding: 0.5em 1em 0 1em;
	text-align: center;

	border-bottom: 1px solid rgba($tab-border-color, .7);

	// XXX This is just a mess

	&> li {
		display: inline-block;
		position: relative;
		margin: 0 .15em;

		&.active > a, &.active > form.saa > button {
			padding-top: 0.4em;
			color: $tab-active-text-color;
			text-decoration: none;
			text-shadow: $tab-active-text-color 0 0 1px;
			opacity: 1.0;
		}

		&> a, &> form.saa > button {
			vertical-align: bottom;
			display: inline-block;
			padding: 0.25em 0.5em;
			text-decoration: underline;

			position: relative;
			z-index: 2;

			border: 1px solid $tab-border-color;
			border-bottom: 0;
			opacity: .7;
		}

		&.external {
			float: right;
			margin-left: 0.3em;
			margin-right: 0em;

			bottom: -2px;

			&> a, &> form.saa > button { color: $aside-text-color; }
			&:before, &:after { display: none; }
		}

		&.subtabs {
			&> a:after {
				content: "▼";
			}
			
			&> ul {
				display: none;
				text-align: right;
				
				position: absolute;
				top: calc(100%-1px);
				right: 0;
				z-index: 10;

				background-color: rgba($contextmenu-bg-color, .9);
				border: 1px solid $tab-border-color;
				min-width: 10em;
				max-width: 15em;
				margin: 0;
				padding: 0;
				list-style-type: none;

				&> li {
					position: relative;
					border-top: 1px dotted $tab-border-color;
					
					&> a {
						display: block;						
						color: $aside-text-color;
						padding: .25em .5em;
					}

					&:first-child {
						border-top: 0;
					}

					&:hover {
						background-color: rgba($contextmenu-entry-active-bg-color, .9);
					}
				}
			}

			&.nojs:hover > ul, &.hover > ul {
				display: block;
			}
		}
	}
}