@mixin tabs {
	list-style-type: none;
	margin: 0;
	padding: 0.5em 1em 0 1em;
	text-align: center;
	overflow: hidden;

	// XXX This is just a mess

	&> li {
		display: inline-block;
		position: relative;

		&.active > a {
			padding-top: 0.4em;
			color: $tab-active-text-color;
			text-decoration: none;
			text-shadow: $tab-active-text-color 0 0 1px;

			border-bottom-color: transparent !important;
			opacity: 1.0;
		}

		&:before, &:after {
			content: " ";
			display: inline-block;
			vertical-align: bottom;
			width: 0.15em;

			border-bottom: 1px solid $tab-border-color;
			opacity: .7;
		}

		&:first-child:not(.external):before, &.external + li:not(.external):before {
			position: absolute;
			z-index: 1;
			width: 500em;
			left: -500em;
			bottom: 0;
		}

		&:last-child:after {
			position: absolute;
			z-index: 1;
			width: 500em;
			left: 0;
			bottom: 0;
		}

		&> a {
			vertical-align: bottom;
			display: inline-block;
			padding: 0.25em 0.5em;
			text-decoration: underline;

			position: relative;
			z-index: 2;

			border: 1px solid $tab-border-color;
			border-bottom-color: $tab-border-color !important;
			opacity: .7;
		}

		&.external {
			float: right;
			margin-left: 0.3em;

			bottom: -1px;

			&> a { color: $aside-text-color; border-bottom: 0 !important; }
			&:before, &:after { display: none; }
		}
	}
}