@mixin tabs {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;

	border-bottom: 1px solid $tab-border-color;

	&> li {
		position: relative;
		bottom: -1px;

		display: inline-block;
		border: 1px solid $tab-border-color;
		border-bottom: 1px solid rgba(0, 0, 0, 0);
		opacity: 0.7;

		&.active {
			border-bottom: 2px solid $main-bg-color;

			&> a {
				padding-top: 0.4em;
				color: $tab-active-text-color;
				text-decoration: none;
				font-weight: bold;
			}

			opacity: 1.0;
		}

		&> a {
			display: block;
			padding: 0.25em 0.5em;
		}
	}
}