@mixin tabs {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;

	border-bottom: 1px solid $tab-border-color;

	&> li {
		position: relative;
		bottom: -1px;

		display: inline-block;
		border: 1px solid $tab-border-color;

		&.active {
			border-bottom: 2px solid $main-bg-color;

			&> a {
				color: $tab-active-text-color;
				text-decoration: none;
				font-weight: bold;
			}
		}

		&> a {
			display: block;
			padding: 0.25em 0.5em;
		}
	}
}