ol#lhistory {
	list-style-type: none;
	padding: 0;
	margin: 0 1em;

	&> li {
		margin: 1em 0;
		border-top: 1px dotted #CCC;

		&:first-child {
			margin-top: 0;
			border-top: none;
		}

		&> p {
			font-size: 1.2em;
		}

		&> pre {
			background-color: #F4F4F8;
			color: #555;

			&> ins {
				background-color: #DFD;
				color: black;
			}

			&> del {
				background-color: #FDD;
				color: black;
			}

			&> ins, &> del {
				text-decoration: none;
				opacity: 1.0;
			}
		}
	}
}
