$portrait-width: 10em;

div#vprofile {
	@include fixed-width-page;

	&> header {
		&> p, &> table {
			display: inline-block;
			vertical-align: top;
			margin: 0;
			padding: 0;
		}

		&> p > img {
			width: $portrait-width;
		}

		&> p > a > img {
			width: $portrait-width / 2;
		}

		&> table > tbody {
			&> tr.sep > td {
				height: 1em;
			}
			
			&> tr > th, &> tr > td {
				vertical-align: top;
				text-align: left;
				padding: 0 2em 0 1em;
				line-height: 1.5em;
			}

			&> tr > th {
				color: $aside-text-color;
				font-weight: normal;
				font-style: italic;
			}

			&> tr > td {
				color: $main-text-color;

				&:last-child {
					color: $emphasis-text-color;
				}
			}
		}
	}

	&> ul.tabs {
		@include tabs;
		text-align: right;
		padding-top: 2em;
		padding-right: 1em;
	}

	&> section.psection {
		margin-bottom: 1em;
	}

	&> section#reputation {
		$rep-width: 2em;

		&> ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			&> li {
				padding-top: 0.5em;
				border-top: 1px solid $subsection-border-color;

				&:first-child {
					padding-top: 0;
					border-top: none;
				}
			}
		}

		&> ul > li > h4 {
			position: relative;
			font-size: 1.2em;
			padding-left: $rep-width * 1.5 + 0.5em;
			line-height: 1.2em * 1.5;
			margin: 0;

			&> span {
				position: absolute;
				display: inline-block;
				left: 0;
				width: $rep-width;
				text-align: right;
				font-size: 1.5em;

				&.positive {
					color: $reputation-gain-text-color;
				}

				&.negative {
					color: $reputation-loss-text-color;
				}
			}
		}

		&> ul > li > table {
			width: 100%;
			margin-bottom: 1em;

			&> tbody > tr {
				background-color: $subsection-bg-color;
			}

			&> tbody > tr > td {
				&.rep {
					text-align: right;
					width: $rep-width * 1.5;

					&.positive {
						color: $reputation-gain-text-color;
					}
					
					&.negative {
						color: $reputation-loss-text-color;
					}
				}

				&.time {
					color: $aside-text-color;
					width: 5em;
					text-align: center;
				}

				&.type {
					width: 10em;
					text-align: left;
				}

				&.l {
					text-align: left;
				}
			}
		}

		&> ul > li {
			&> h4:before {
				content: $developed-char;
				padding-right: 0.25em;
			}

			&.hidden > h4:before {
				content: $hidden-char;
			}
		}

		&> ul > li.hidden > table {
			display: none;
		}
	}

	&> section#votes {
		&> table > tbody > tr > td {
			&.date {
				color: $aside-text-color;
				width: 7em;
			}

			&.type {
				width: 10em;
				text-align: left;
			}

			&.l {
				text-align: left;
			}
		}
	}
}
