ol#lhistory {
	list-style-type: none;
	padding: 0;
	margin: 0 1em;

	&> li {
		margin: 1em 0;
		border-top: 1px dotted $subsection-border-color;

		&:first-child {
			margin-top: 0;
			border-top: none;
		}

		&> p {
			font-size: 1.2em;
		}

		&> pre {
			background-color: $diff-main-bg-color;
			color: $diff-main-text-color;

			&> ins {
				background-color: $diff-inserted-bg-color;
				color: $diff-inserted-text-color;
			}

			&> del {
				background-color: $diff-removed-bg-color;
				color: $diff-removed-text-color;
			}

			&> ins, &> del {
				text-decoration: none;
				opacity: 1.0;
			}
		}
	}
}
