div#vflaghistory {
	@include fixed-width-page;

	&> ul#summary {
		list-style-type: none;
		margin: 0;
		padding: 0;

		text-align: right;
		color: $aside-text-color;

		&> li {
			display: inline-block;
			width: 8em;
			margin: 0.25em 1em;
			padding: 0;
		}
	}
}

div#vflaghistory, div#modflags > form {
	&> table > tbody > tr {
		&.status0 {
			background-color: $flag-new-bg-color;
		}

		&.status1 {
			background-color: $flag-helpful-bg-color;
		}

		&.status2 {
			background-color: $flag-abusive-bg-color;
		}
	}
}

div#modflags {
	padding: 0 1em;
}
