@mixin authorboxes {
	&> div.author {
		position: relative;
		float: right;
		margin-left: 0.5em;
		background-color: #F4F4F8;
		height: 3.5em;
		width: 13em;

		@include ellipsis;

		&> img.portrait {
			float: left;
			height: 3em;
			padding: 0.25em 0.25em 0 0.25em;
		}

		&> img.corporation, &> img.alliance {
			position: absolute;
			height: 3em;
			top: 0.25em;
			right: 0.25em;

			opacity: 0.5;

			@include layout-type(smallandextrasmall) {
				opacity: 0.2;
			}
		}

		&> time {
			color: #888;
			font-size: 0.9em;
		}

		&> a.profile {
			font-weight: bold;
			text-decoration: underline;
		}
	}

	&> div.author.edit {
		width: 10em;
		margin-right: 0;
		background-color: transparent;
		opacity: 0.5;
	}
}

div#vloadoutbox {
	@include prop-metadata-width(margin-left, 1em);
	border-left: 1px dotted #CCC;
	padding: 0 1em;

	&> header {
		position: relative;
		padding-left: 6.5em;

		&> img#fittypepic {
			position: absolute;
			top: 0;
			left: 0;
			height: 6em;
		}

		&> h1 {
			margin: 0;
		}

		&> h2 {
			margin-bottom: 0;
		}

		&> div#fittags {
			&> h2, &> ul {
				display: inline-block;
			}

			&> h2 {
				margin: 0;
				font-size: 1em;
			}
		}
	}

	&> div.slots, &> div#vdronebay {
		@include module-list-togglable;
	}

	&> div#vdronebay {
		@include drone-list;
	}
}

div#pwfit {
	display: inline-block;
	width: 30em;
	height: 10em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10em;
	margin-left: -15em;
	text-align: center;

	padding: 1em;
	border: 2px solid #FFC0C0;
	background-color: #FFF8F8;
}

div#vcomments {
	margin: 0 2em 2em 0;

	&> div.comment {
		border-top: 1px solid #888;
		padding: 0.5em 0;

		&> header {
			min-height: 3.5em;
			margin-top: 0.5em;

			@include authorboxes;

			&> div.meta {
				margin-left: 0.25em;
				color: #CCC;
				font-size: 0.9em;

				@include layout-type(smallandextrasmall) {
					padding-top: 0.25em;
					clear: both;
				}

				&> span.outdated, &> span.outdated > a {
					color: #888;
				}

				&> span.outdated {
					display: block;
					padding-top: 0.5em;
				}
			}
		}

		&> a.add_comment, &> header > div.meta > a {
			color: #888;
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}

		&> a.add_comment {
			padding-left: 0.25em;
			font-size: 0.9em;
		}

		&> div.body {
			padding-left: 0.25em;

			&> p, &> h1, &> h2, &> h3, &> h4, &> h5, &> h6 {
				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&> ul.replies {
			list-style-type: none;
			padding: 0;
			margin: 0.5em 1em;

			&> li {
				border-bottom: 1px dotted #CCC;
				color: #CCC;
				padding: 0.5em 2em;

				&:first-child {
					border-top: 1px dotted #CCC;
				}

				&> div.body {
					display: inline;
					color: black;
				}

				&> time, &> a.profile, &> span.meta > a, &> span.updated {
					font-size: 0.9em;
					color: #888;
				}

				&> span.meta {
					opacity: 0.2;
				}

				&:hover > span.meta {
					opacity: 1.0;
				}
			}

			&> li.new {
				color: black;
				display: none;

				&> form > textarea {
					min-height: 4em;
					width: 100%;
				}
			}
		}
	}
}

div#metadatabox > div#loadoutcredits {
	@include authorboxes;
	padding: 0 0.5em 0.5em 0.5em;

	&> div.author {
		width: 20em;
		display: inline-block;
		float: none;

		@include layout-type(smallandextrasmall) {
			width: 10em;
		}

		&.edit {
			width: 7.5em;
		}
	}

	&.notedited > div.author {
		display: block;
		width: 100%;
	}
}
