div#vlmain {
	@extend div#nlmain;
	margin-right: 0 !important;
	border-right: 0 !important;
}

div#vlattribs {
	@extend div#nlattribs;
}



@mixin authorboxes {
	&> div.author {
		position: relative;
		margin-left: 0.5em;
		background-color: $subsection-bg-color;
		height: 3.5em;
		min-width: 7em;
		display: inline-block;
		padding-left: 0.25em;

		@include ellipsis;

		&> img.portrait {
			float: left;
			padding-top: 0.25em;
			padding-right: 0.25em;
			width: 3em;
			height: 3em;
		}

		&> img.corporation, &> img.alliance {
			float: right;
			padding-right: 0.25em;
			padding-top: 0.25em;
			padding-left: 0.5em;
			width: 3em;
			height: 3em;
			opacity: 0.5;
		}

		&> time {
			color: $aside-text-color;
			font-size: 0.9em;
		}

		&> a.profile {
			font-weight: bold;
			text-decoration: underline;
		}
	}

	&> div.author.edit {
		opacity: 0.5;
		background-color: transparent;
		outline: 1px dotted $subsection-border-color;
	}
}

div#pwfit {
	display: inline-block;
	width: 30em;
	height: 10em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10em;
	margin-left: -15em;
	text-align: center;

	padding: 1em;
	border: 2px solid $loadout-input-pw-border-color;
	background-color: $loadout-input-pw-bg-color;

	& > form > table > tbody > tr > td > input#pw {
		min-width: 20em;
	}
}

section#export {
	@include readable;
}

section#description {
	&> h3:first-child {
		padding-left: 0.25em;
		margin-bottom: 0;
		border-bottom: 1px solid $section-border-color;
	}

	&> div {
		@include readable;
	}
}

div#vlmain > section#presets tr {
	&> td > select {
		max-width: 30em;
	}

	&> td > div.pdesc > :first-child {
		margin-top: 0.2em;
		padding-top: 0;
	}

	&> td > div.pdesc > p.placeholder {
		text-align: left;
	}
}

section#credits {
	@include authorboxes;

	&.edited > div.author {
		width: $metadata-width - 12.5em;

		&.edit {
			width: 10em;
		}
	}

	&.notedited > div.author {
		display: block;
	}

	margin-left: 0.5em;
	margin-bottom: 1em;
}