cache/*
!cache/.empty_file
static/cache/*
!static/cache/.empty_file
config.ini
sphinx/*
!sphinx/sphinx.conf-skel
static/*.css
static/robots.txt
.sass-cache
tests/coverage
pgsql/osmium-sde-*
pgsql/osmium-full-*
