.sass-cache
cache/*
config.ini
pgsql/osmium-full-*
pgsql/osmium-sde-*
pgsql/osmium-pg
sphinx/sphinx.conf-local
static/*.css
static/cache/*
static/robots.txt
tests/coverage
!cache/.empty_file
!static/cache/.empty_file
