[submodule "lib/common-loadout-format"]
	path = lib/common-loadout-format
	url = git://github.com/Artefact2/common-loadout-format.git
[submodule "lib/jsPlumb"]
	path = lib/jsPlumb
	url = git://github.com/sporritt/jsPlumb.git
