Options -Indexes
RewriteEngine On

RewriteRule ^/?$ src/main.php [L,QSA]
RewriteRule ^/?favicon\.ico$ static/favicon.png [L]
RewriteRule ^/?register$ src/register.php [L,QSA]
RewriteRule ^/?logout$ src/logout.php [L,QSA]
RewriteRule ^/?settings$ src/settings.php [L,QSA]
RewriteRule ^/?editskillset/(.+)$ src/edit_skillset.php?name=$1 [L,QSA]
RewriteRule ^/?reset_password$ src/reset_password.php [L,QSA]
RewriteRule ^/?new$ src/new_fitting.php [L,QSA]
RewriteRule ^/?loadout/([1-9][0-9]*)$ src/view_fit.php?loadoutid=$1 [L,QSA]
RewriteRule ^/?loadouthistory/([1-9][0-9]*)$ src/view_loadout_history.php?loadoutid=$1 [L,QSA]
RewriteRule ^/?edit/([1-9][0-9]*)$ src/edit_fit.php?loadoutid=$1 [L,QSA]
RewriteRule ^/?delete/([1-9][0-9]*)$ src/delete_fit.php?loadoutid=$1 [L,QSA]
RewriteRule ^/?favorite/([1-9][0-9]*)$ src/toggle_favorite.php?loadoutid=$1 [L,QSA]
RewriteRule ^/?search$ src/search.php [L,QSA]
RewriteRule ^/?browse/(best|new)$ src/browse.php?type=$1 [L,QSA]
RewriteRule ^/?import$ src/import_loadouts.php [L,QSA]
RewriteRule ^/?notifications$ src/view_notifications.php [L,QSA]
RewriteRule ^/?profile/([1-9][0-9]*)$ src/view_profile.php?accountid=$1 [L,QSA]
RewriteRule ^/?flagginghistory/([1-9][0-9]*)$ src/view_flagging_history.php?accountid=$1 [L,QSA]
RewriteRule ^/?export/(.+)-(clf|md|evexml|eft|dna)-([1-9][0-9]*)-([1-9][0-9]*)\.(json|md|xml|txt) src/export_fit.php?type=$2&loadoutid=$3&revision=$4 [L,QSA]
RewriteRule ^/?editcomment/([1-9][0-9]*)$ src/edit_comment.php?id=$1&type=comment [L,QSA]
RewriteRule ^/?editcommentreply/([1-9][0-9]*)$ src/edit_comment.php?id=$1&type=commentreply [L,QSA]
RewriteRule ^/?deletecomment/([1-9][0-9]*)$ src/delete_comment.php?id=$1&type=comment [L,QSA]
RewriteRule ^/?deletecommentreply/([1-9][0-9]*)$ src/delete_comment.php?id=$1&type=commentreply [L,QSA]
RewriteRule ^/?flag/([1-9][0-9]*)$ src/cast_flag.php?id=$1&type=loadout [L,QSA]
RewriteRule ^/?flagcomment/([1-9][0-9]*)$ src/cast_flag.php?id=$1&type=comment [L,QSA]
RewriteRule ^/?flagcommentreply/([1-9][0-9]*)$ src/cast_flag.php?id=$1&type=commentreply [L,QSA]

RewriteRule ^/?atom/newfits\.xml$ src/atom/recentfits.php?type=newfits [L,QSA]
RewriteRule ^/?atom/recentlyupdated\.xml$ src/atom/recentfits.php?type=recentlyupdated [L,QSA]

RewriteRule ^/?moderation/$ src/moderation/main.php [L,QSA]
RewriteRule ^/?moderation/flags$ src/moderation/view_flags.php [L,QSA]

RewriteRule ^/?api/$ src/mdstatic.php?relative=..&title=Osmium+API&f=api.md [L]
RewriteRule ^/?api/json/query_loadouts\.json$ src/api/json/query_loadouts.php [L,QSA]

RewriteRule ^/?static-([1-9][0-9]*)/(.*)$ static/$2 [L]

RewriteRule !^/?(src|static) - [L,R=404]

ErrorDocument 403 /src/fatal.php?code=403&message=Forbidden
ErrorDocument 404 /src/fatal.php?code=404&message=Not%20Found
