RewriteEngine On

RewriteRule ^/?$ src/main.php [L,QSA]
RewriteRule ^/?favicon\.ico$ static/favicon.png [L]
RewriteRule ^/?register$ src/register.php [L,QSA]
RewriteRule ^/?logout$ src/logout.php [L,QSA]
RewriteRule ^/?api_settings$ src/api_settings.php [L,QSA]
RewriteRule ^/?reset_password$ src/reset_password.php [L,QSA]
RewriteRule ^/?new$ src/new_fitting.php [L,QSA]
RewriteRule ^/?loadout/([1-9][0-9]*)$ src/view_fit.php?loadoutid=$1 [L,QSA]
RewriteRule ^/?loadouthistory/([1-9][0-9]*)$ src/view_loadout_history.php?loadoutid=$1 [L,QSA]
RewriteRule ^/?edit/([1-9][0-9]*)$ src/edit_fit.php?loadoutid=$1 [L,QSA]
RewriteRule ^/?delete/([1-9][0-9]*)$ src/delete_fit.php?loadoutid=$1 [L,QSA]
RewriteRule ^/?favorite/([1-9][0-9]*)$ src/toggle_favorite.php?loadoutid=$1 [L,QSA]
RewriteRule ^/?search$ src/search.php [L,QSA]
RewriteRule ^/?import$ src/import_loadouts.php [L,QSA]
RewriteRule ^/?profile/([1-9][0-9]*)$ src/view_profile.php?accountid=$1 [L,QSA]
RewriteRule ^/?flagginghistory/([1-9][0-9]*)$ src/view_flagging_history.php?accountid=$1 [L,QSA]
RewriteRule ^/?export/(.+)-clf-([1-9][0-9]*)\.json$ src/export_fit.php?type=clf&loadoutid=$2 [L,QSA]
RewriteRule ^/?export/(.+)-md-([1-9][0-9]*)\.md$ src/export_fit.php?type=md&loadoutid=$2 [L,QSA]
RewriteRule ^/?export/(.+)-evexml-([1-9][0-9]*)\.xml$ src/export_fit.php?type=evexml&loadoutid=$2 [L,QSA]
RewriteRule ^/?export/(.+)-eft-([1-9][0-9]*)\.txt$ src/export_fit.php?type=eft&loadoutid=$2 [L,QSA]
RewriteRule ^/?export/(.+)-dna-([1-9][0-9]*)\.txt$ src/export_fit.php?type=dna&loadoutid=$2 [L,QSA]
RewriteRule ^/?editcomment/([1-9][0-9]*)$ src/edit_comment.php?id=$1&type=comment [L,QSA]
RewriteRule ^/?editcommentreply/([1-9][0-9]*)$ src/edit_comment.php?id=$1&type=commentreply [L,QSA]
RewriteRule ^/?deletecomment/([1-9][0-9]*)$ src/delete_comment.php?id=$1&type=comment [L,QSA]
RewriteRule ^/?deletecommentreply/([1-9][0-9]*)$ src/delete_comment.php?id=$1&type=commentreply [L,QSA]
RewriteRule ^/?flag/([1-9][0-9]*)$ src/cast_flag.php?id=$1&type=loadout [L,QSA]
RewriteRule ^/?flagcomment/([1-9][0-9]*)$ src/cast_flag.php?id=$1&type=comment [L,QSA]
RewriteRule ^/?flagcommentreply/([1-9][0-9]*)$ src/cast_flag.php?id=$1&type=commentreply [L,QSA]

RewriteRule !^/?(src|static) - [L,R=404]
