# Please keep this file sorted alphabetically by name.
# Add one entry per email-address (with possibly the same
# name if you used different emails on different commits).

Romain Dalmaso <artefact2@gmail.com>
Vincent Weber <mail@jognu.net>