# Please keep this file sorted alphabetically by last name.
# Add one entry per email-address (with possibly the same
# name if you used different emails on different commits).

Josiah Boning <jboning@gmail.com>
Romain Dalmaso <artefact2@gmail.com>
Roman Rizhenkov <metallist90@yahoo.com>
Vincent Weber <mail@jognu.net>
