@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic|Droid+Sans:400,700|Droid+Sans+Mono");

@mixin linear-gradient-lighten-top($color, $intensity: 5%) {
	background-color: $color;
	background: -webkit-linear-gradient(top, lighten($color, $intensity), $color, darken($color, $intensity));
	background: -ms-linear-gradient(top, lighten($color, $intensity), $color, darken($color, $intensity));
	background: -o-linear-gradient(top, lighten($color, $intensity), $color, darken($color, $intensity));
	background: -moz-linear-gradient(to bottom, lighten($color, $intensity), $color, darken($color, $intensity));
	background: linear-gradient(to bottom, lighten($color, $intensity), $color, darken($color, $intensity));
}

$hue: 203;

html, body {
	min-height: 100%;
	height: 100%;
}

body {
	font-family: "Droid Serif";

	margin: 0;
	padding: 0 2em;
}

pre, code, tt, textarea, kbd {
	font-family: "Droid Sans Mono";
}

div#wrap {
	max-width: 70em;

	padding: 0 1em;
	border-top: 0;
	border-bottom: 0;

	&> header:first-child > h1:first-child {
		text-align: center;
		margin-top: 0;
		padding-top: 0.5em;
	}

	&> *:last-child {
		margin-bottom: 0;
		padding-bottom: 2em;
	}

	&> h1 {
		padding: 0.05em 0.25em;
	}

	&> p, &> ul, &> ol {
		line-height: 1.25em;
	}
}

img {
    vertical-align: middle;
}

ul {
    list-style-type: square;
}

code {
    background-color: hsl($hue, 20%, 95%);
}

a {
    color: hsl($hue, 80%, 20%);
}

a:active {
    color: hsl(0, 100%, 50%);
}

hr {
	display: none;
}