@font-face {
    font-family: 'Linux Biolinum';
    src: url('linbiolinum_r.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Biolinum';
    src: url('linbiolinum_rb.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Biolinum';
    src: url('linbiolinum_ri.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
