html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body, input[type='submit'], button {
    font-family: "Linux Biolinum", Arial, Helvetica, sans-serif;
}

textarea, input[type='text'], input[type='password'], input[type='url'], select, optgroup, option,
div#fittags > ul > li, ol.loadout_sr > li > ul.tags > li {
    font-family: monospace;
}

div#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -1.7em;
}

footer, div#push {
    height: 1.5em;
    clear: both;
}

footer > p {
    line-height: 2em;
    text-align: right;
    margin: 0;
    padding: 0;
    padding-right: 0.25em;
    font-size: 0.8em;
}

footer, footer a {
    color: #888 !important;
}

a, a:visited {
    color: #1122CC;
}

a:active, a:focus {
    color: red;
}

img {
    vertical-align: middle;
}

img.spinner {
    visibility: hidden;
}

img.slot_icon {
    height: 2em;
    width: 2em;
}

span.fitname > img {
    width: 1em;
    height: 1em;
}

p.error_box,
tr.error_message p,
p.warning_box {
    border: 1px solid #CC3300;
    color: #CC3300;
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0.5em;
    text-align: center;
}

p.warning_box {
    border-color: #888800;
    color: #888800;
}

nav {
    width: 100%;
    border-bottom: 1px dotted #CCC;
    text-align: right;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    height: 2em;
}

nav > ul {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    height: 2em;
}

nav > ul > li {
    display: inline-block;
    margin: 0;
    height: 2em;
    padding: 0;
    padding-left: 1em;
    padding-top: 0.25em;
}

nav > ul > li > strong > a {
    color: black !important;
    text-decoration: none;
}

nav > div#state_box {
    padding-right: 0.5em;
}

nav > div#state_box, nav > div#state_box > form {
    height: 2em;
}

nav > div#state_box p {
    margin: 0;
    line-height: 1.75em;
}

input:active {
    border-color: red;
}

input:focus, textarea:focus {
    border-color: orange;
}

div#state_box input[type="text"], div#state_box input[type="password"] {
    width: 8em;
}

nav > div#state_box p {
    display: inline-block;
}

nav > div#state_box p.error_box {
    padding: 0.1em 0.25em 0.1em 0.25em;
}

input[type="submit"].next_step, input[type="submit"].final_step {
    font-weight: bold;
}

input[type="submit"].dangerous {
    border-color: red !important;
    background-color: #FFF0F0 !important;
}

input[type="submit"].next_step, input[type="submit"].final_step, input[type="submit"].prev_step {
    font-size: 1em;
    border-color: darkgreen;
    background-color: #F0FFF0;
}

select#hullid {
    font-size: 1.4em;
}

div#searchbox, div#presetsbox,
div#dronelistbox, div#metadatabox {
    padding-left: 0.5em;
    width: 20em;
    float: left;
}

div#shortlistbox {
    width: 20em;
    float: right;
    padding-right: 0.5em;
}

div#loadoutbox, div#chargegroupsbox,
div#vloadoutbox {
    margin-left: 21em;
    margin-right: 21em;
    border-left: 1px dotted #CCC;
    border-right: 1px dotted #CCC;
    padding-left: 1em;
    padding-right: 1em;
}

div#loadoutbox > form > table {
    width: 100%;
    margin-top: 1em;
}

div#searchbox input[type="text"] {
    width: 16em;
}

div#loadoutbox > h2, div#shortlistbox > h2, 
div#searchbox > h2, div#presetsbox > h2,
div#dronelistbox > h2 {
    text-align: center;
    margin-top: 0;
}

div#searchbox p#search_filters {
    padding: 0;
    margin: 0;
    padding-bottom: 0.25em;
}

img.meta_filter {
    cursor: pointer;
}

img.meta_filter.ds {
    opacity: 0.2;
}

ul#search_results, ul#modules_shortlist,
div.loadout_slot_cat > ul,
div#dronebay > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#search_results > li.module,
ul#search_results > li.drone,
ul#modules_shortlist > li.module,
div.loadout_slot_cat > ul > li.module,
div#dronebay > ul > li.drone {
    cursor: move;
}

li.module, li.shortlist_dummy, li.drone,
li.empty_slot, li.mod_placeholder, li.drone_placeholder {
    border: 1px solid #CCC;
    margin: 0.125em;
    background-color: white;
    height: 32px;
    line-height: 32px;
    position: relative;
    padding-left: 2.25em;
    display: inline-block !important;
    width: 17em;
}

li.module, li.shortlist_dummy, li.drone,
li.empty_slot, li.mod_placeholder, li.drone_placeholder,
div#vloadoutbox > div.slots > ul > li,
div#recent_loadouts > ol.loadout_sr > li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

li.drone, li.drone_placeholder {
    height: 31px;
    line-height: 31px;
}

li.module > img, li.empty_slot > img, li.drone > img,
ul.chargegroup > li > img.module_icon {
    position: absolute;
    top: -1px;
    left: 0;
    height: 32px;
}

li.shortlist_dummy, li.empty_slot,
li.mod_placeholder, li.drone_placeholder {
    border: 1px dashed #888;
    color: #888;
}

li.shortlist_dummy,
li.drone_placeholder {
    width: 19em;
    padding-left: 0.25em;
}

h2.has_spinner {
    position: relative;
}

h2.has_spinner > img.spinner {
    position: absolute;
    right: 0;
}

em.help {
    color: #A8A8A8;
    font-size: 0.8em;
}

table.slot_count {
    text-align: center;
    width: 100%;
}

table.slot_count img {
    width: 3em;
}

div#loadoutbox > div.loadout_slot_cat {
    display: none;
}

table.slot_count strong,
p#dronecapacity > strong.overflow {
    display: inline-block;
    padding: 0.25em;
	text-align: left;
}

table.slot_count strong.overflow,
p#dronecapacity > strong.overflow,
li.module.overflow {
    background-color: #FCC;
}

ul#modules_shortlist > li.module > a.delete {
    float: right;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

ul#modules_shortlist > li.module > a.delete > img {
    width: 1em;
    height: 1em;
}

ul#modules_shortlist > li.module:hover {
    padding-right: 1em;
    width: 16em;
}

ul#modules_shortlist > li.module:hover > a.delete {
    display: inline-block;
}

div#chargegroupsbox, div#vloadoutbox {
    margin-right: 1em;
    border-right: 0;
}

ul#chargegroups, ul#chargegroups > li > ul.chargegroup {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#chargegroups > li,
div#chargegroupsbox > form > table {
    margin-bottom: 2em;
    width: 70px;
}

div#chargegroupsbox > form > table {
    width: 24em;
}

ul#chargegroups > li > ul.chargegroup > li {
    border: 1px solid #CCC;
    margin: 0.125em;
    display: inline-block;
    width: 70px;
    position: relative;
    height: 32px;
    border-right: none;
}

ul.chargegroup > li > img.charge_icon {
    position: absolute;
    top: -1px;
    left: 32px;
    height: 32px;
}

ul.chargegroup > li > select {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 64px;
}

ul.chargegroup > li.ui-selected,
ul#presets > li.selected {
    background-color: #DDFFDD;
}

ul.chargegroup > li.ui-selecting {
    background-color: #FFFFCC;
}

ul#presets > li > span {
    float: right;
    visibility: hidden;
    font-size: 0.9em;
    color: #888;
    padding-right: 0.25em;
}

ul#presets > li:hover > span {
    visibility: visible;
}

ul#presets > li > span > a,
ul#presets > li > span {
    color: #CCC;
}

ul#presets > li > form > input.new_name {
    width: 8em;
}

ul#presets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul#presets > li {
    height: 2em;
    border-top: 1px dotted #888;
    line-height: 2em;
}

ul#presets > li:first-child {
    border-top: none;
}

p#nojs_warning, p#pwfit_warning {
    text-align: center;
    width: 100%;
    border-bottom: 1px dotted red;
    height: 2em;
    line-height: 2em;
    margin: 0;
    padding: 0;
    background-color: #FFD8D8;
}

p#pwfit_warning {
    background-color: #FFFFE0;
    border-color: #CCC;
}

div#dronelistbox > form {
    margin-bottom: 0.5em;
}

div#dronelistbox > ul#search_results {
    margin-top: 0.5em;
}

div#dronebay {
    margin-left: 21em;
    padding-right: 1em;
    padding-left: 1em;
    width: 25em;
    border-left: 1px dotted #CCC;
}

div#dronebay > form > table {
    margin-top: 1em;
    width: 25em;
}

div#dronebay > p#dronecapacity > img {
    height: 3em;
}

form > table > tbody > tr > td > input[type='text'],
form > table > tbody > tr > td > input[type='password'],
form > table > tbody > tr > td > input[type='url'],
form > table > tbody > tr > td > textarea {
    width: 100%;
    height: 1.5em;
    line-height: 1.5em;
}

form > table > tbody > tr > th > label {
    display: block;
    text-align: right;
    line-height: 1.5em;
}

form > table > tbody > tr > td > select {
    width: 100%;
    height: 1.7em;
    line-height: 1.7em;
}

form > table > tbody > tr > td > select[size] {
    height: auto;
}

form > table > tbody > tr > th,
form > table > tbody > tr > td {
    padding: 0.5em;
    vertical-align: top;
    border-top: 1px dotted #CCC;
}

form > table > tbody > tr:first-child > th,
form > table > tbody > tr:first-child > td,
form > table > tbody > tr.separator > th,
form > table > tbody > tr.separator > td,
form > table > tbody > tr.separator + tr > th,
form > table > tbody > tr.separator + tr > td,
form > table > tbody > tr.error_message + tr > th,
form > table > tbody > tr.error_message + tr > td {
    border-top: none;
}

tr.error_message > th,
tr.error_message > td {
    padding-bottom: 0;
}

tr.error_message + tr > th,
tr.error_message + tr > td {
    padding-top: 0;
}

tr.separator > td > hr {
    height: 1px;
    color: #AAA;
    background-color: #AAA;
    border: none;
}

form > table > tbody > tr > td > textarea {
    height: 15em;
    min-width: 50em;
}

input, textarea, select {
    border: 1px solid #777;
    background-color: white;
}

tr.error > td > input {
    border: 1px solid #CC3300;
}

input[disabled='disabled'], textarea[disabled='disabled'], select[disabled='disabled'] {
    color: #444;
    border-color: black;
    background-color: #F0F0F0;
}

div#pwfit table {
    position: absolute;
    width: 30em;
    left: 50%;
    top: 50%;
    margin-left: -15em;
    margin-top: -10em;
    border: 1em solid #FFE8E8;
    background-color: #FFE8E8;
}

div#pwfit table p.m {
    margin: 0;
}

div#metadatabox {
    width: 30em;
}

div#vloadoutbox {
    margin-left: 31em;
}

div#metadatabox > h2 {
    text-align: center;
}

div#vloadoutbox > header > h1 {
    margin: 0;
}

span.fitname {
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 0.05em;
}

div#vloadoutbox > header > h2 {
    margin-bottom: 0;
}

div#metadatabox > ul {
    padding-left: 2em;
    list-style-type: square;
}

div#fittags {
    margin-top: 0.25em;
}

div#fittags > h2 {
    margin-top: 0;
    font-size: 1.0em;
}

div#fittags > h2, div#fittags > ul, 
div#fittags > ul > li,
ol.loadout_sr > li > ul.tags > li,
ol.loadout_sr > li > ul.tags {
    display: inline-block;
    margin: 0;
    padding: 0;
}

div#fittags > ul > li,
ol.loadout_sr > li > ul.tags > li {
    margin: 0.125em;
    padding: 0.125em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid #CCC;
    border-radius: 0.5em;
    background-color: #F8F8F8;
}

div#vloadoutbox > header {
    position: relative;
    padding-left: 6.5em;
}

div#vloadoutbox > header > img#fittypepic {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

div#vloadoutbox > div.slots > ul,
div#vloadoutbox > div#vdronebay > ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0.125em;
}

div#vloadoutbox > div.slots > ul > li > img,
div#vloadoutbox > div#vdronebay > ul > li > img {
    height: 2em;
    margin-right: 0.125em;
}

div#vloadoutbox > div.slots > h3,
div#vloadoutbox > div#vdronebay > h3 {
    border-bottom: 1px solid #888;
    padding-left: 0.25em;
    margin-bottom: 0;
}

div#vloadoutbox > div.slots > ul > li {
    border-top: 1px dashed #888;
    padding-top: 0.125em;
    padding-bottom: 0.125em;
}

div#vloadoutbox > div.slots > ul > li:first-child {
    border-top: none;
}

div#vloadoutbox > div.slots {
    width: 19em;
    display: inline-block;
    vertical-align: top;
    margin-right: 2em;
    margin-bottom: 2em;
}

div#vloadoutbox > div.slots > ul > li.unused {
    color: #888;
}

div#metadatabox > ul > li > ul > li > a:focus {
    outline: 0; /* A bit meh for accessibility, but it looks much better */
}

div#metadatabox > ul > li > ul > li > a.active {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

div#vloadoutbox > div#vdronebay > ul > li {
    width: 15em;
    display: inline-block;
    padding: 0.125em;
}

span.mod {
    border-bottom: 1px dotted #AAA;
}

div#search_full {
    position: absolute;
    width: 60em;
    height: 10em;
    top: 50%;
    left: 50%;
    margin-top: -10em;
    margin-left: -30em;
    text-align: center;
}

div#search_full > form > h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5em;
}

div#search_full > form > h1 > img {
    height: 1.5em;
}

div#search_full > form > p > input[type='search'],
div#search_mini > form > p > input[type='search'] {
    width: 30em;
}

div#search_full > form > p > input {
    font-size: 1.5em;
}

ol.loadout_sr {
    margin: 0;
    padding: 0;
    padding-left: 3em;
}

ol.loadout_sr > li > img:first-child {
    position: absolute;
    top: 1em;
    left: 1em;
    bottom: 1em;
}

ol.loadout_sr > li {
    position: relative;
    border-bottom: 1px dotted #CCC;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 5.5em;
}

ol.loadout_sr > li > small,
ol.loadout_sr > li > small > a {
    color: #009933;
}

div#search_mini {
    border-bottom: 1px dotted #CCC;
}

div#search_mini > form > h1,
div#search_mini > form > p {
    display: inline-block;
    font-size: 1.2em;
}

div#search_mini > form > h1 > img {
    height: 2em;
}

div#search_mini > form > h1 {
    margin-left: 2em;
    margin-right: 2em;
}

div#search_mini.quick {
    text-align: center;
    border: none;
}

div#search_mini.quick > form {
    display: inline-block;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    padding-left: 2em;
    padding-right: 2em;
}

h1#mainp,
div#recent_loadouts {
    text-align: center;
}

div#recent_loadouts > ol.loadout_sr {
    display: inline-block;
    width: 45em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

p.no_search_result {
    margin: 1em;
    color: #888;
    border-color: #888;
}

p.notice_box {
    text-align: center;	
}

p.notice_box > em {
    text-decoration: underline;
}

div#import_errors {
	border: 1px solid #CC3300;
	color: #CC3300;
	margin: 1em;
	padding: 1em;
}

div#import_errors > p {
	margin-top: 0;
}

div#import_errors > ol {
	margin-bottom: 0;
}

div#wrapper > h1 {
	padding-left: 0.5em;
}

div#wrapper > p {
	padding-left: 1em;
}

a.dangerous {
	color: #FF3300;
}

div.slots > h3,
div#vdronebay > h3 {
	position: relative;
}

div.slots > h3 > small.capacity,
div#vdronebay > h3 > small.capacity {
	position: absolute;
	right: 0.125em;
	bottom: 0;
	color: #888;
}

ul.computed_attributes > li > p > img {
	float: left;
	height: 2em;
}

ul.computed_attributes > li > p {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	margin-right: 2em;
	padding: 0.125em;
	line-height: 1em;
	margin-top: 0.25em;
}

ul.computed_attributes > li > p.oneline {
	line-height: 2em;
}

table.slot_count th > strong {
	display: inline-block;
	vertical-align: middle;
}

p.overflow6 { background-color: rgba(255, 51, 0, 0.6); }
p.overflow5 { background-color: rgba(255, 51, 0, 0.5); }
p.overflow4 { background-color: rgba(255, 51, 0, 0.4); }
p.overflow3 { background-color: rgba(255, 51, 0, 0.3); }
p.overflow2 { background-color: rgba(255, 51, 0, 0.2); }
p.overflow1 { background-color: rgba(255, 51, 0, 0.1); }
